In [17]:
# import necessary libraries
import pandas as pd
import numpy as np
import re

In [3]:
# load accepted_2017_eda.csv dataset as dataframe
df = pd.read_csv("../data/accepted_2017_eda.csv")

In [4]:
# look for fields in need of transformation with descriptive statistics
df.describe(include='all')

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,target_binary,loan_status_binary
count,178817.000000,178817,178817.000000,178817.000000,178817,178817,165867,178817,1.788170e+05,178817,...,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817,178817.000000,178817
unique,NaN,2,NaN,NaN,7,35,11,5,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2
top,NaN,36 months,NaN,NaN,C,C5,10+ years,MORTGAGE,NaN,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,Fully Paid
freq,NaN,134609,NaN,NaN,58555,12880,58659,88952,NaN,70836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177847,NaN,130152
mean,14417.128824,NaN,14.004035,442.692238,NaN,NaN,NaN,NaN,7.883489e+04,NaN,...,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,NaN,0.727850,NaN
std,9490.662173,NaN,5.618855,289.918633,NaN,NaN,NaN,NaN,7.555752e+04,NaN,...,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,NaN,0.445068,NaN
min,1000.000000,NaN,5.320000,7.610000,NaN,NaN,NaN,NaN,0.000000e+00,NaN,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,0.000000,NaN
25%,7000.000000,NaN,10.420000,230.640000,NaN,NaN,NaN,NaN,4.750000e+04,NaN,...,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,NaN,0.000000,NaN
50%,12000.000000,NaN,13.490000,361.830000,NaN,NaN,NaN,NaN,6.600000e+04,NaN,...,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,NaN,1.000000,NaN
75%,20000.000000,NaN,16.020000,594.620000,NaN,NaN,NaN,NaN,9.500000e+04,NaN,...,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,NaN,1.000000,NaN
max,40000.000000,NaN,30.990000,1719.830000,NaN,NaN,NaN,NaN,1.099920e+07,NaN,...,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,NaN,1.000000,NaN

In [5]:
# remove target_binary and loan_status_binary columns from eda set
df = df.drop(columns=["target_binary", "loan_status_binary"])
df.shape, df.columns

((178817, 79),
 Index(['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade',
        'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
        'loan_status', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
        'earliest_cr_line', 'fico_range_low', 'inq_last_6mths', 'open_acc',
        'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
        'collections_12_mths_ex_med', 'application_type', 'tot_coll_amt',
        'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
        'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
        'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
        'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
        'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
        'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
        'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
        'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
        'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
        'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
        'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
        'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
        'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
        'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
        'total_il_high_credit_limit', 'disbursement_method'],
       dtype='object'))

In [6]:
# look for transformations again
df.describe(include='all')

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,...,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method
count,178817.000000,178817,178817.000000,178817.000000,178817,178817,165867,178817,1.788170e+05,178817,...,178817.000000,178817.000000,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817
unique,NaN,2,NaN,NaN,7,35,11,5,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,36 months,NaN,NaN,C,C5,10+ years,MORTGAGE,NaN,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
freq,NaN,134609,NaN,NaN,58555,12880,58659,88952,NaN,70836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177847
mean,14417.128824,NaN,14.004035,442.692238,NaN,NaN,NaN,NaN,7.883489e+04,NaN,...,2.287898,93.899041,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,NaN
std,9490.662173,NaN,5.618855,289.918633,NaN,NaN,NaN,NaN,7.555752e+04,NaN,...,1.944135,9.297197,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,NaN
min,1000.000000,NaN,5.320000,7.610000,NaN,NaN,NaN,NaN,0.000000e+00,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN
25%,7000.000000,NaN,10.420000,230.640000,NaN,NaN,NaN,NaN,4.750000e+04,NaN,...,1.000000,90.900000,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,NaN
50%,12000.000000,NaN,13.490000,361.830000,NaN,NaN,NaN,NaN,6.600000e+04,NaN,...,2.000000,98.100000,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,NaN
75%,20000.000000,NaN,16.020000,594.620000,NaN,NaN,NaN,NaN,9.500000e+04,NaN,...,3.000000,100.000000,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,NaN
max,40000.000000,NaN,30.990000,1719.830000,NaN,NaN,NaN,NaN,1.099920e+07,NaN,...,28.000000,100.000000,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,NaN

In [7]:
# convert term from text to integer
df["term"] = df["term"].str.extract(r"(\d+)").astype(int)

In [8]:
# look for transofmrations again
df.describe(include='all')

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,...,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method
count,178817.000000,178817.000000,178817.000000,178817.000000,178817,178817,165867,178817,1.788170e+05,178817,...,178817.000000,178817.000000,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817
unique,NaN,NaN,NaN,NaN,7,35,11,5,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,C,C5,10+ years,MORTGAGE,NaN,Source Verified,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash
freq,NaN,NaN,NaN,NaN,58555,12880,58659,88952,NaN,70836,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177847
mean,14417.128824,41.933396,14.004035,442.692238,NaN,NaN,NaN,NaN,7.883489e+04,NaN,...,2.287898,93.899041,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,NaN
std,9490.662173,10.353594,5.618855,289.918633,NaN,NaN,NaN,NaN,7.555752e+04,NaN,...,1.944135,9.297197,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,NaN
min,1000.000000,36.000000,5.320000,7.610000,NaN,NaN,NaN,NaN,0.000000e+00,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN
25%,7000.000000,36.000000,10.420000,230.640000,NaN,NaN,NaN,NaN,4.750000e+04,NaN,...,1.000000,90.900000,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,NaN
50%,12000.000000,36.000000,13.490000,361.830000,NaN,NaN,NaN,NaN,6.600000e+04,NaN,...,2.000000,98.100000,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,NaN
75%,20000.000000,36.000000,16.020000,594.620000,NaN,NaN,NaN,NaN,9.500000e+04,NaN,...,3.000000,100.000000,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,NaN
max,40000.000000,60.000000,30.990000,1719.830000,NaN,NaN,NaN,NaN,1.099920e+07,NaN,...,28.000000,100.000000,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,NaN

In [9]:
# drop grade column
df = df.drop(columns=["grade"])
df.shape, df.columns

((178817, 78),
 Index(['loan_amnt', 'term', 'int_rate', 'installment', 'sub_grade',
        'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
        'loan_status', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
        'earliest_cr_line', 'fico_range_low', 'inq_last_6mths', 'open_acc',
        'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
        'collections_12_mths_ex_med', 'application_type', 'tot_coll_amt',
        'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
        'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
        'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
        'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
        'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
        'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
        'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
        'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
        'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
        'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
        'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
        'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
        'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
        'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
        'total_il_high_credit_limit', 'disbursement_method'],
       dtype='object'))

In [10]:
# unique values in sub_grade column
df["sub_grade"].unique()

array(['C1', 'C4', 'C2', 'C5', 'B1', 'C3', 'A5', 'F1', 'G2', 'D1', 'D5',
       'D2', 'E3', 'D3', 'D4', 'A3', 'B3', 'G3', 'F2', 'B2', 'E2', 'B5',
       'F3', 'A2', 'A1', 'G4', 'G5', 'E4', 'F4', 'B4', 'E5', 'F5', 'A4',
       'E1', 'G1'], dtype=object)

In [11]:
# Get unique values (optional, for inspection)
unique_subgrades = sorted(df["sub_grade"].dropna().unique())
print(unique_subgrades)

# Create mapping for letter → base number
letter_map = {'A':1,'B':2,'C':3,'D':4,'E':5,'F':6,'G':7}

# Convert subgrade to an ordinal integer 1–35
df["sub_grade_num"] = (
    df["sub_grade"].str[0].map(letter_map) * 5
    + df["sub_grade"].str[1].astype(int)
    - 5     # adjust so A1 starts at 1 instead of 6
)

# Check the result
df[["sub_grade", "sub_grade_num"]].head(20)

['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1', 'G2', 'G3', 'G4', 'G5']

   sub_grade  sub_grade_num
0         C1             11
1         C4             14
2         C2             12
3         C4             14
4         C5             15
5         B1              6
6         C1             11
7         C5             15
8         C3             13
9         A5              5
10        F1             26
11        C2             12
12        G2             32
13        D1             16
14        D5             20
15        C5             15
16        C3             13
17        D5             20
18        C1             11
19        C3             13

In [12]:
# look for transofmrations again
df.describe(include='all')

,loan_amnt,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,sub_grade_num
count,178817.000000,178817.000000,178817.000000,178817.000000,178817,165867,178817,1.788170e+05,178817,178817,...,178817.000000,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817,178817.000000
unique,NaN,NaN,NaN,NaN,35,11,5,NaN,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
top,NaN,NaN,NaN,NaN,C5,10+ years,MORTGAGE,NaN,Source Verified,Fully Paid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN
freq,NaN,NaN,NaN,NaN,12880,58659,88952,NaN,70836,130152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177847,NaN
mean,14417.128824,41.933396,14.004035,442.692238,NaN,NaN,NaN,7.883489e+04,NaN,NaN,...,93.899041,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,NaN,12.027660
std,9490.662173,10.353594,5.618855,289.918633,NaN,NaN,NaN,7.555752e+04,NaN,NaN,...,9.297197,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,NaN,6.475092
min,1000.000000,36.000000,5.320000,7.610000,NaN,NaN,NaN,0.000000e+00,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,1.000000
25%,7000.000000,36.000000,10.420000,230.640000,NaN,NaN,NaN,4.750000e+04,NaN,NaN,...,90.900000,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,NaN,7.000000
50%,12000.000000,36.000000,13.490000,361.830000,NaN,NaN,NaN,6.600000e+04,NaN,NaN,...,98.100000,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,NaN,12.000000
75%,20000.000000,36.000000,16.020000,594.620000,NaN,NaN,NaN,9.500000e+04,NaN,NaN,...,100.000000,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,NaN,15.000000
max,40000.000000,60.000000,30.990000,1719.830000,NaN,NaN,NaN,1.099920e+07,NaN,NaN,...,100.000000,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,NaN,35.000000

In [13]:
# drop sub_grade column
df = df.drop(columns=["sub_grade"])
df.shape, df.columns

((178817, 78),
 Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
        'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
        'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
        'earliest_cr_line', 'fico_range_low', 'inq_last_6mths', 'open_acc',
        'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
        'collections_12_mths_ex_med', 'application_type', 'tot_coll_amt',
        'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
        'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
        'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
        'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
        'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
        'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
        'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
        'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
        'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
        'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
        'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
        'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
        'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
        'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
        'total_il_high_credit_limit', 'disbursement_method', 'sub_grade_num'],
       dtype='object'))

In [14]:
# look for transformations again
df.describe(include='all')

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,sub_grade_num
count,178817.000000,178817.000000,178817.000000,178817.000000,165867,178817,1.788170e+05,178817,178817,178817,...,178817.000000,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817,178817.000000
unique,NaN,NaN,NaN,NaN,11,5,NaN,3,5,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN
top,NaN,NaN,NaN,NaN,10+ years,MORTGAGE,NaN,Source Verified,Fully Paid,debt_consolidation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN
freq,NaN,NaN,NaN,NaN,58659,88952,NaN,70836,130152,100639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177847,NaN
mean,14417.128824,41.933396,14.004035,442.692238,NaN,NaN,7.883489e+04,NaN,NaN,NaN,...,93.899041,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,NaN,12.027660
std,9490.662173,10.353594,5.618855,289.918633,NaN,NaN,7.555752e+04,NaN,NaN,NaN,...,9.297197,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,NaN,6.475092
min,1000.000000,36.000000,5.320000,7.610000,NaN,NaN,0.000000e+00,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,1.000000
25%,7000.000000,36.000000,10.420000,230.640000,NaN,NaN,4.750000e+04,NaN,NaN,NaN,...,90.900000,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,NaN,7.000000
50%,12000.000000,36.000000,13.490000,361.830000,NaN,NaN,6.600000e+04,NaN,NaN,NaN,...,98.100000,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,NaN,12.000000
75%,20000.000000,36.000000,16.020000,594.620000,NaN,NaN,9.500000e+04,NaN,NaN,NaN,...,100.000000,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,NaN,15.000000
max,40000.000000,60.000000,30.990000,1719.830000,NaN,NaN,1.099920e+07,NaN,NaN,NaN,...,100.000000,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,NaN,35.000000

In [15]:
# unique values in emp_length column
df["emp_length"].unique()

array(['10+ years', '1 year', '3 years', '7 years', nan, '8 years',
       '4 years', '< 1 year', '2 years', '6 years', '5 years', '9 years'],
      dtype=object)

In [18]:
# transform emp_length to integer
def parse_emp_length(val):
    if pd.isna(val):
        return np.nan
    val = val.strip()
    if val == '10+ years':
        return 10
    if val == '< 1 year':
        return 0
    # catch '1 year', '2 years', ..., '9 years'
    m = re.search(r'(\d+)', val)
    if m:
        return int(m.group(1))
    return np.nan

df["emp_length_years"] = df["emp_length"].apply(parse_emp_length)

In [19]:
# look for transformations again
df.describe(include='all')

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,sub_grade_num,emp_length_years
count,178817.000000,178817.000000,178817.000000,178817.000000,165867,178817,1.788170e+05,178817,178817,178817,...,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817,178817.000000,165867.000000
unique,NaN,NaN,NaN,NaN,11,5,NaN,3,5,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
top,NaN,NaN,NaN,NaN,10+ years,MORTGAGE,NaN,Source Verified,Fully Paid,debt_consolidation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,NaN
freq,NaN,NaN,NaN,NaN,58659,88952,NaN,70836,130152,100639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177847,NaN,NaN
mean,14417.128824,41.933396,14.004035,442.692238,NaN,NaN,7.883489e+04,NaN,NaN,NaN,...,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,NaN,12.027660,5.809625
std,9490.662173,10.353594,5.618855,289.918633,NaN,NaN,7.555752e+04,NaN,NaN,NaN,...,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,NaN,6.475092,3.775748
min,1000.000000,36.000000,5.320000,7.610000,NaN,NaN,0.000000e+00,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,1.000000,0.000000
25%,7000.000000,36.000000,10.420000,230.640000,NaN,NaN,4.750000e+04,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,NaN,7.000000,2.000000
50%,12000.000000,36.000000,13.490000,361.830000,NaN,NaN,6.600000e+04,NaN,NaN,NaN,...,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,NaN,12.000000,6.000000
75%,20000.000000,36.000000,16.020000,594.620000,NaN,NaN,9.500000e+04,NaN,NaN,NaN,...,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,NaN,15.000000,10.000000
max,40000.000000,60.000000,30.990000,1719.830000,NaN,NaN,1.099920e+07,NaN,NaN,NaN,...,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,NaN,35.000000,10.000000

In [20]:
# drop emp_length column
df = df.drop(columns=["emp_length"])
df.shape, df.columns

((178817, 78),
 Index(['loan_amnt', 'term', 'int_rate', 'installment', 'home_ownership',
        'annual_inc', 'verification_status', 'loan_status', 'purpose', 'title',
        'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
        'fico_range_low', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal',
        'revol_util', 'total_acc', 'collections_12_mths_ex_med',
        'application_type', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
        'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
        'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
        'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
        'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
        'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
        'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
        'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
        'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
        'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
        'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
        'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
        'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
        'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
        'total_il_high_credit_limit', 'disbursement_method', 'sub_grade_num',
        'emp_length_years'],
       dtype='object'))

In [21]:
# look for transformations again
df.describe(include='all')

,loan_amnt,term,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,purpose,title,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,sub_grade_num,emp_length_years
count,178817.000000,178817.000000,178817.000000,178817.000000,178817,1.788170e+05,178817,178817,178817,178817,...,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817,178817.000000,165867.000000
unique,NaN,NaN,NaN,NaN,5,NaN,3,5,12,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
top,NaN,NaN,NaN,NaN,MORTGAGE,NaN,Source Verified,Fully Paid,debt_consolidation,Debt consolidation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,NaN
freq,NaN,NaN,NaN,NaN,88952,NaN,70836,130152,100639,100634,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177847,NaN,NaN
mean,14417.128824,41.933396,14.004035,442.692238,NaN,7.883489e+04,NaN,NaN,NaN,NaN,...,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,NaN,12.027660,5.809625
std,9490.662173,10.353594,5.618855,289.918633,NaN,7.555752e+04,NaN,NaN,NaN,NaN,...,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,NaN,6.475092,3.775748
min,1000.000000,36.000000,5.320000,7.610000,NaN,0.000000e+00,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,1.000000,0.000000
25%,7000.000000,36.000000,10.420000,230.640000,NaN,4.750000e+04,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,NaN,7.000000,2.000000
50%,12000.000000,36.000000,13.490000,361.830000,NaN,6.600000e+04,NaN,NaN,NaN,NaN,...,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,NaN,12.000000,6.000000
75%,20000.000000,36.000000,16.020000,594.620000,NaN,9.500000e+04,NaN,NaN,NaN,NaN,...,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,NaN,15.000000,10.000000
max,40000.000000,60.000000,30.990000,1719.830000,NaN,1.099920e+07,NaN,NaN,NaN,NaN,...,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,NaN,35.000000,10.000000

In [22]:
# unique values in home_ownership column
df["home_ownership"].unique()

array(['MORTGAGE', 'RENT', 'OWN', 'ANY', 'NONE'], dtype=object)

In [23]:
# one hot encode home_ownership column
home_ownership_dummies = pd.get_dummies(df["home_ownership"], prefix="home")
df = pd.concat([df, home_ownership_dummies], axis=1)

In [24]:
# look for trandsformations again
df.describe(include='all')

,loan_amnt,term,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,purpose,title,...,total_bc_limit,total_il_high_credit_limit,disbursement_method,sub_grade_num,emp_length_years,home_ANY,home_MORTGAGE,home_NONE,home_OWN,home_RENT
count,178817.000000,178817.000000,178817.000000,178817.000000,178817,1.788170e+05,178817,178817,178817,178817,...,178817.000000,1.788170e+05,178817,178817.000000,165867.000000,178817,178817,178817,178817,178817
unique,NaN,NaN,NaN,NaN,5,NaN,3,5,12,12,...,NaN,NaN,2,NaN,NaN,2,2,2,2,2
top,NaN,NaN,NaN,NaN,MORTGAGE,NaN,Source Verified,Fully Paid,debt_consolidation,Debt consolidation,...,NaN,NaN,Cash,NaN,NaN,False,False,False,False,False
freq,NaN,NaN,NaN,NaN,88952,NaN,70836,130152,100639,100634,...,NaN,NaN,177847,NaN,NaN,178614,89865,178814,157385,110590
mean,14417.128824,41.933396,14.004035,442.692238,NaN,7.883489e+04,NaN,NaN,NaN,NaN,...,23305.667224,4.556555e+04,NaN,12.027660,5.809625,NaN,NaN,NaN,NaN,NaN
std,9490.662173,10.353594,5.618855,289.918633,NaN,7.555752e+04,NaN,NaN,NaN,NaN,...,22887.783594,4.551246e+04,NaN,6.475092,3.775748,NaN,NaN,NaN,NaN,NaN
min,1000.000000,36.000000,5.320000,7.610000,NaN,0.000000e+00,NaN,NaN,NaN,NaN,...,0.000000,0.000000e+00,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,7000.000000,36.000000,10.420000,230.640000,NaN,4.750000e+04,NaN,NaN,NaN,NaN,...,8500.000000,1.627600e+04,NaN,7.000000,2.000000,NaN,NaN,NaN,NaN,NaN
50%,12000.000000,36.000000,13.490000,361.830000,NaN,6.600000e+04,NaN,NaN,NaN,NaN,...,16600.000000,3.459700e+04,NaN,12.000000,6.000000,NaN,NaN,NaN,NaN,NaN
75%,20000.000000,36.000000,16.020000,594.620000,NaN,9.500000e+04,NaN,NaN,NaN,NaN,...,30300.000000,6.116200e+04,NaN,15.000000,10.000000,NaN,NaN,NaN,NaN,NaN
max,40000.000000,60.000000,30.990000,1719.830000,NaN,1.099920e+07,NaN,NaN,NaN,NaN,...,711400.000000,1.736064e+06,NaN,35.000000,10.000000,NaN,NaN,NaN,NaN,NaN

In [25]:
# drop title column
df = df.drop(columns=["title"])
df.shape, df.columns

((178817, 82),
 Index(['loan_amnt', 'term', 'int_rate', 'installment', 'home_ownership',
        'annual_inc', 'verification_status', 'loan_status', 'purpose',
        'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
        'fico_range_low', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal',
        'revol_util', 'total_acc', 'collections_12_mths_ex_med',
        'application_type', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
        'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
        'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
        'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
        'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
        'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
        'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
        'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
        'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
        'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
        'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
        'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
        'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
        'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
        'total_il_high_credit_limit', 'disbursement_method', 'sub_grade_num',
        'emp_length_years', 'home_ANY', 'home_MORTGAGE', 'home_NONE',
        'home_OWN', 'home_RENT'],
       dtype='object'))

In [26]:
# look for tranformations again
df.describe(include='all')

,loan_amnt,term,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,purpose,addr_state,...,total_bc_limit,total_il_high_credit_limit,disbursement_method,sub_grade_num,emp_length_years,home_ANY,home_MORTGAGE,home_NONE,home_OWN,home_RENT
count,178817.000000,178817.000000,178817.000000,178817.000000,178817,1.788170e+05,178817,178817,178817,178817,...,178817.000000,1.788170e+05,178817,178817.000000,165867.000000,178817,178817,178817,178817,178817
unique,NaN,NaN,NaN,NaN,5,NaN,3,5,12,50,...,NaN,NaN,2,NaN,NaN,2,2,2,2,2
top,NaN,NaN,NaN,NaN,MORTGAGE,NaN,Source Verified,Fully Paid,debt_consolidation,CA,...,NaN,NaN,Cash,NaN,NaN,False,False,False,False,False
freq,NaN,NaN,NaN,NaN,88952,NaN,70836,130152,100639,25682,...,NaN,NaN,177847,NaN,NaN,178614,89865,178814,157385,110590
mean,14417.128824,41.933396,14.004035,442.692238,NaN,7.883489e+04,NaN,NaN,NaN,NaN,...,23305.667224,4.556555e+04,NaN,12.027660,5.809625,NaN,NaN,NaN,NaN,NaN
std,9490.662173,10.353594,5.618855,289.918633,NaN,7.555752e+04,NaN,NaN,NaN,NaN,...,22887.783594,4.551246e+04,NaN,6.475092,3.775748,NaN,NaN,NaN,NaN,NaN
min,1000.000000,36.000000,5.320000,7.610000,NaN,0.000000e+00,NaN,NaN,NaN,NaN,...,0.000000,0.000000e+00,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,7000.000000,36.000000,10.420000,230.640000,NaN,4.750000e+04,NaN,NaN,NaN,NaN,...,8500.000000,1.627600e+04,NaN,7.000000,2.000000,NaN,NaN,NaN,NaN,NaN
50%,12000.000000,36.000000,13.490000,361.830000,NaN,6.600000e+04,NaN,NaN,NaN,NaN,...,16600.000000,3.459700e+04,NaN,12.000000,6.000000,NaN,NaN,NaN,NaN,NaN
75%,20000.000000,36.000000,16.020000,594.620000,NaN,9.500000e+04,NaN,NaN,NaN,NaN,...,30300.000000,6.116200e+04,NaN,15.000000,10.000000,NaN,NaN,NaN,NaN,NaN
max,40000.000000,60.000000,30.990000,1719.830000,NaN,1.099920e+07,NaN,NaN,NaN,NaN,...,711400.000000,1.736064e+06,NaN,35.000000,10.000000,NaN,NaN,NaN,NaN,NaN

In [27]:
# one hot code addr_state column
df = pd.get_dummies(df, columns=["addr_state"], prefix="state", drop_first=False)

In [29]:
# look for transformations again
pd.set_option("display.max_columns", None)
pd.set_option("display.width", None)
pd.set_option("display.max_colwidth", None)
df.describe(include='all')

,loan_amnt,term,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,earliest_cr_line,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,application_type,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,sub_grade_num,emp_length_years,home_ANY,home_MORTGAGE,home_NONE,home_OWN,home_RENT,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
count,178817.000000,178817.000000,178817.000000,178817.000000,178817,1.788170e+05,178817,178817,178817,178623.000000,178817.000000,178817,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178656.000000,178817.000000,178817.000000,178817,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,174137.000000,1.788170e+05,154613.000000,178817.000000,178817.000000,178817.000000,178795.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,178812.000000,176464.000000,176367.000000,178817.000000,178817.000000,174137.000000,178817.000000,178817.000000,178817.000000,178817.000000,176582.000000,162639.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,169486.000000,178817.000000,178817.000000,178817.000000,178817.000000,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817,178817.000000,165867.000000,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817
unique,NaN,NaN,NaN,NaN,5,NaN,3,5,12,NaN,NaN,654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,NaN,NaN,NaN,NaN,MORTGAGE,NaN,Source Verified,Fully Paid,debt_consolidation,NaN,NaN,Aug-2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Individual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,NaN,NaN,NaN,NaN,88952,NaN,70836,130152,100639,NaN,NaN,1462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177847,NaN,NaN,178614,89865,178814,157385,110590,178446,176683,177477,174106,153135,174564,176219,178441,178293,165621,173317,177935,178226,172415,175681,177486,177107,176798,174710,174600,178275,174089,175632,175994,177708,178332,173747,178448,177950,177916,172880,177886,175802,164577,173407,177246,176614,172980,178015,176722,178451,175941,163780,177368,174026,178466,174936,176366,178717,178502
mean,14417.128824,41.933396,14.004035,442.692238,NaN,7.883489e+04,NaN,NaN,NaN,18.907232,0.324164,NaN,698.920125,0.585671,11.658975,0.241974,1.534695e+04,46.092626,24.143062,0.023085,NaN,246.235134,1.477661e+05,1.010178,2.786150,0.728807,1.733851,19.074436,3.614572e+04,70.608067,1.403038,2.989755,5470.366967,56.950860,3.455528e+04,1.137213,1.612162,2.310468,5.039677,14157.951648,12564.158055,52.988547,0.009708,17.709972,123.655065,176.563537,13.038827,7.531186,1.486660,22.420269,6.537700,0.547314,3.540536,5.391423,4.781727,7.417913,8.757719,8.192951,13.679678,5.297729,11.612347,0.000856,0.002841,0.088856,2.287898,93.899041,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,NaN,12.027660,5.809625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,9490.662173,10.353594,5.618855,289.918633,NaN,7.555752e+04,NaN,NaN,NaN,17.907636,0.912865,NaN,34.176619,0.862537,5.751887,0.610310,2.216735e+04,24.919311,12.164768,0.169620,NaN,2913.485460,1.633447e+05,1.177144,2.967175,0.924133,1.618685,23.797272,4.365710e+04,23.434095,1.574786,2.729942,5442.217924,21.259014,3.463132e+04,1.597023,2.805131,2.504960,3.383084,17031.700690,17355.313318,29.253493,0.113095,997.840990,53.665769,96.745153,16.291940,7.971233,1.792279,30.437072,5.720994,1.461994,2.317508,3.378576,3.127182,4.602106,7.530288,4.784230,8.064939,3.226742,5.731122,0.031190,0.055286,0.536605,1.944135,9.297197,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,NaN,6.475092,3.775748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1000.000000,36.000000,5.320000,7.610000,NaN,0.000000e+00,NaN,NaN,NaN,-1.000000,0.000000,NaN,660.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,2.000000,0.000000,NaN,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7000.000000,36.000000,10.420000,230.640000,NaN,4.750000e+04,NaN,NaN,NaN,11.760000,0.000000,NaN,670.000000,0.000000,8.000000,0.000000,5.230000e+03,26.600000,15.000000,0.000000,NaN,0.000000,2.968600e+04,0.000000,1.000000,0.000000,1.000000,6.000000,9.494000e+03,57.000000,0.000000,1.000000,2145.000000,43.000000,1.480000e+04,0.000000,0.000000,1.000000,3.000000,3135.000000,2236.000000,29.000000,0.000000,0.000000,92.000000,115.000000,4.000000,3.000000,0.000000,6.000000,2.000000,0.000000,2.000000,3.000000,3.000000,4.000000,4.000000,5.000000,8.000000,3.000000,8.000000,0.000000,0.000000,0.000000,1.000000,90.900000,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,NaN,7.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,12000.000000,36.000000,13.490000,361.830000,NaN,6.600000e+04,NaN,NaN,NaN,17.730000,0.000000,NaN,690.000000,0.000000,11.000000,0.000000,1.019700e+04,45.000000,22.000000,0.000000,NaN,0.000000,8.459800e+04,1.000000,2.000000,0.000000,1.000000,12.000000,2.403600e+04,73.000000,1.000000,2.000000,4190.000000,58.000000,2.560000e+04,1.000000,0.000000,2.000000,4.000000,7816.000000,6492.000000,53.300000,0.000000,0.000000,129.000000,158.000000,8.000000,5.000000,1.000000,12.000000,5.000000,0.000000,3.000000,5.000000,4.000000,6.000000,7.000000,7.000000,12.000000,5.000000,11.000000,0.000000,0.000000,0.000000,2.000000,98.100000,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,NaN,12.000000,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,20000.000000,36.000000,16.020000,594.620000,NaN,9.500000e+04,NaN,NaN,NaN,24.430000,0.000000,NaN,715.000000,1.000000,15.000000,0.000000,1.837400e+04,64.700000,31.000000,0.000000,NaN,0.000000,2.224320e+05,2.000000,3.000000,1.000000,2.000000,21.000000,4.692400e+04,86.000000,2.000000,4.000000,7138.000000,72.000000,4.310000e+04,2.000000,2.000000,3.000000,7.000000,19719.000000,15862.250000,78.450000,0.000000,0.000000,152.000000,226.000000,16.000000,10.000000,2.000000,26.000000,10.000000,0.000000,5.000000,7.000000,6.000000,10.000000,12.000000,10.000000,18.000000,7.000000,14.000000,0.000000,0.000000,0.000000,3.000000,100.000000,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,NaN,15.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,40000.000000,60.000000,30.990000,1719.830000,NaN,1.099920e+07,NaN,NaN,NaN,999.000000,36.000000,NaN,845.000000,5.000000,88.000000,44.000000,1.696796e+06,154.900000,151.000000,12.000000,NaN,932461.000000,3.566850e+06,16.000000,57.000000,11.000000,23.000000,424.000000,1.711009e+06,464.000000,28.000000,45.000000,571793.000000,173.000000,1.652700e+06,27.000000,68.000000,41.000000,46.000000,646339.000000,366127.000000,252.300000,8.000000,249925.000000,999.000000,803.000000,396.000000,250.000000,23.000000,591.000000,25.000000,34.000000,33.000000,63.000000,43.000000,66.000000,138.000000,71.000000,128.000000,41.000000,87.000000,3.000000,3.000000,36.000000,28.000000,100.000000,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,NaN,35.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# drop home_ownership column
df = df.drop(columns=["home_ownership"])
df.shape, df.columns

((178817, 130),
 Index(['loan_amnt', 'term', 'int_rate', 'installment', 'annual_inc',
        'verification_status', 'loan_status', 'purpose', 'dti', 'delinq_2yrs',
        ...
        'state_SD', 'state_TN', 'state_TX', 'state_UT', 'state_VA', 'state_VT',
        'state_WA', 'state_WI', 'state_WV', 'state_WY'],
       dtype='object', length=130))

In [31]:
df.describe(include='all')

,loan_amnt,term,int_rate,installment,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,earliest_cr_line,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,application_type,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,sub_grade_num,emp_length_years,home_ANY,home_MORTGAGE,home_NONE,home_OWN,home_RENT,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
count,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178817,178817,178817,178623.000000,178817.000000,178817,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178656.000000,178817.000000,178817.000000,178817,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,174137.000000,1.788170e+05,154613.000000,178817.000000,178817.000000,178817.000000,178795.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,178812.000000,176464.000000,176367.000000,178817.000000,178817.000000,174137.000000,178817.000000,178817.000000,178817.000000,178817.000000,176582.000000,162639.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,169486.000000,178817.000000,178817.000000,178817.000000,178817.000000,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817,178817.000000,165867.000000,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817
unique,NaN,NaN,NaN,NaN,NaN,3,5,12,NaN,NaN,654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,NaN,NaN,NaN,NaN,NaN,Source Verified,Fully Paid,debt_consolidation,NaN,NaN,Aug-2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Individual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,NaN,NaN,NaN,NaN,NaN,70836,130152,100639,NaN,NaN,1462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177847,NaN,NaN,178614,89865,178814,157385,110590,178446,176683,177477,174106,153135,174564,176219,178441,178293,165621,173317,177935,178226,172415,175681,177486,177107,176798,174710,174600,178275,174089,175632,175994,177708,178332,173747,178448,177950,177916,172880,177886,175802,164577,173407,177246,176614,172980,178015,176722,178451,175941,163780,177368,174026,178466,174936,176366,178717,178502
mean,14417.128824,41.933396,14.004035,442.692238,7.883489e+04,NaN,NaN,NaN,18.907232,0.324164,NaN,698.920125,0.585671,11.658975,0.241974,1.534695e+04,46.092626,24.143062,0.023085,NaN,246.235134,1.477661e+05,1.010178,2.786150,0.728807,1.733851,19.074436,3.614572e+04,70.608067,1.403038,2.989755,5470.366967,56.950860,3.455528e+04,1.137213,1.612162,2.310468,5.039677,14157.951648,12564.158055,52.988547,0.009708,17.709972,123.655065,176.563537,13.038827,7.531186,1.486660,22.420269,6.537700,0.547314,3.540536,5.391423,4.781727,7.417913,8.757719,8.192951,13.679678,5.297729,11.612347,0.000856,0.002841,0.088856,2.287898,93.899041,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,NaN,12.027660,5.809625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,9490.662173,10.353594,5.618855,289.918633,7.555752e+04,NaN,NaN,NaN,17.907636,0.912865,NaN,34.176619,0.862537,5.751887,0.610310,2.216735e+04,24.919311,12.164768,0.169620,NaN,2913.485460,1.633447e+05,1.177144,2.967175,0.924133,1.618685,23.797272,4.365710e+04,23.434095,1.574786,2.729942,5442.217924,21.259014,3.463132e+04,1.597023,2.805131,2.504960,3.383084,17031.700690,17355.313318,29.253493,0.113095,997.840990,53.665769,96.745153,16.291940,7.971233,1.792279,30.437072,5.720994,1.461994,2.317508,3.378576,3.127182,4.602106,7.530288,4.784230,8.064939,3.226742,5.731122,0.031190,0.055286,0.536605,1.944135,9.297197,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,NaN,6.475092,3.775748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1000.000000,36.000000,5.320000,7.610000,0.000000e+00,NaN,NaN,NaN,-1.000000,0.000000,NaN,660.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,2.000000,0.000000,NaN,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7000.000000,36.000000,10.420000,230.640000,4.750000e+04,NaN,NaN,NaN,11.760000,0.000000,NaN,670.000000,0.000000,8.000000,0.000000,5.230000e+03,26.600000,15.000000,0.000000,NaN,0.000000,2.968600e+04,0.000000,1.000000,0.000000,1.000000,6.000000,9.494000e+03,57.000000,0.000000,1.000000,2145.000000,43.000000,1.480000e+04,0.000000,0.000000,1.000000,3.000000,3135.000000,2236.000000,29.000000,0.000000,0.000000,92.000000,115.000000,4.000000,3.000000,0.000000,6.000000,2.000000,0.000000,2.000000,3.000000,3.000000,4.000000,4.000000,5.000000,8.000000,3.000000,8.000000,0.000000,0.000000,0.000000,1.000000,90.900000,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,NaN,7.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,12000.000000,36.000000,13.490000,361.830000,6.600000e+04,NaN,NaN,NaN,17.730000,0.000000,NaN,690.000000,0.000000,11.000000,0.000000,1.019700e+04,45.000000,22.000000,0.000000,NaN,0.000000,8.459800e+04,1.000000,2.000000,0.000000,1.000000,12.000000,2.403600e+04,73.000000,1.000000,2.000000,4190.000000,58.000000,2.560000e+04,1.000000,0.000000,2.000000,4.000000,7816.000000,6492.000000,53.300000,0.000000,0.000000,129.000000,158.000000,8.000000,5.000000,1.000000,12.000000,5.000000,0.000000,3.000000,5.000000,4.000000,6.000000,7.000000,7.000000,12.000000,5.000000,11.000000,0.000000,0.000000,0.000000,2.000000,98.100000,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,NaN,12.000000,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,20000.000000,36.000000,16.020000,594.620000,9.500000e+04,NaN,NaN,NaN,24.430000,0.000000,NaN,715.000000,1.000000,15.000000,0.000000,1.837400e+04,64.700000,31.000000,0.000000,NaN,0.000000,2.224320e+05,2.000000,3.000000,1.000000,2.000000,21.000000,4.692400e+04,86.000000,2.000000,4.000000,7138.000000,72.000000,4.310000e+04,2.000000,2.000000,3.000000,7.000000,19719.000000,15862.250000,78.450000,0.000000,0.000000,152.000000,226.000000,16.000000,10.000000,2.000000,26.000000,10.000000,0.000000,5.000000,7.000000,6.000000,10.000000,12.000000,10.000000,18.000000,7.000000,14.000000,0.000000,0.000000,0.000000,3.000000,100.000000,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,NaN,15.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,40000.000000,60.000000,30.990000,1719.830000,1.099920e+07,NaN,NaN,NaN,999.000000,36.000000,NaN,845.000000,5.000000,88.000000,44.000000,1.696796e+06,154.900000,151.000000,12.000000,NaN,932461.000000,3.566850e+06,16.000000,57.000000,11.000000,23.000000,424.000000,1.711009e+06,464.000000,28.000000,45.000000,571793.000000,173.000000,1.652700e+06,27.000000,68.000000,41.000000,46.000000,646339.000000,366127.000000,252.300000,8.000000,249925.000000,999.000000,803.000000,396.000000,250.000000,23.000000,591.000000,25.000000,34.000000,33.000000,63.000000,43.000000,66.000000,138.000000,71.000000,128.000000,41.000000,87.000000,3.000000,3.000000,36.000000,28.000000,100.000000,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,NaN,35.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
#  find remaining categorical variables
categorical_cols = df.select_dtypes(include=["object"]).columns.tolist()
categorical_cols

['verification_status',
 'loan_status',
 'purpose',
 'earliest_cr_line',
 'application_type',
 'disbursement_method']

In [34]:
# unique values in loan_status column
df["loan_status"].unique()

array(['Fully Paid', 'Charged Off', 'Late (31-120 days)',
       'Late (16-30 days)', 'Default'], dtype=object)

In [36]:
# map loan_status to binary values
df["loan_status_binary"] = df["loan_status"].map({
    "Fully Paid": 1,
    "Charged Off": 0,
    "Late (31-120 days)": 0,
    "Late (16-30 days)": 0,
    "Default": 0
})

In [37]:
df.describe(include='all')

,loan_amnt,term,int_rate,installment,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,earliest_cr_line,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,application_type,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,sub_grade_num,emp_length_years,home_ANY,home_MORTGAGE,home_NONE,home_OWN,home_RENT,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,loan_status_binary
count,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178817,178817,178817,178623.000000,178817.000000,178817,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178656.000000,178817.000000,178817.000000,178817,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,174137.000000,1.788170e+05,154613.000000,178817.000000,178817.000000,178817.000000,178795.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,178812.000000,176464.000000,176367.000000,178817.000000,178817.000000,174137.000000,178817.000000,178817.000000,178817.000000,178817.000000,176582.000000,162639.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,169486.000000,178817.000000,178817.000000,178817.000000,178817.000000,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817,178817.000000,165867.000000,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817.000000
unique,NaN,NaN,NaN,NaN,NaN,3,5,12,NaN,NaN,654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN
top,NaN,NaN,NaN,NaN,NaN,Source Verified,Fully Paid,debt_consolidation,NaN,NaN,Aug-2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Individual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN
freq,NaN,NaN,NaN,NaN,NaN,70836,130152,100639,NaN,NaN,1462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177847,NaN,NaN,178614,89865,178814,157385,110590,178446,176683,177477,174106,153135,174564,176219,178441,178293,165621,173317,177935,178226,172415,175681,177486,177107,176798,174710,174600,178275,174089,175632,175994,177708,178332,173747,178448,177950,177916,172880,177886,175802,164577,173407,177246,176614,172980,178015,176722,178451,175941,163780,177368,174026,178466,174936,176366,178717,178502,NaN
mean,14417.128824,41.933396,14.004035,442.692238,7.883489e+04,NaN,NaN,NaN,18.907232,0.324164,NaN,698.920125,0.585671,11.658975,0.241974,1.534695e+04,46.092626,24.143062,0.023085,NaN,246.235134,1.477661e+05,1.010178,2.786150,0.728807,1.733851,19.074436,3.614572e+04,70.608067,1.403038,2.989755,5470.366967,56.950860,3.455528e+04,1.137213,1.612162,2.310468,5.039677,14157.951648,12564.158055,52.988547,0.009708,17.709972,123.655065,176.563537,13.038827,7.531186,1.486660,22.420269,6.537700,0.547314,3.540536,5.391423,4.781727,7.417913,8.757719,8.192951,13.679678,5.297729,11.612347,0.000856,0.002841,0.088856,2.287898,93.899041,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,NaN,12.027660,5.809625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.727850
std,9490.662173,10.353594,5.618855,289.918633,7.555752e+04,NaN,NaN,NaN,17.907636,0.912865,NaN,34.176619,0.862537,5.751887,0.610310,2.216735e+04,24.919311,12.164768,0.169620,NaN,2913.485460,1.633447e+05,1.177144,2.967175,0.924133,1.618685,23.797272,4.365710e+04,23.434095,1.574786,2.729942,5442.217924,21.259014,3.463132e+04,1.597023,2.805131,2.504960,3.383084,17031.700690,17355.313318,29.253493,0.113095,997.840990,53.665769,96.745153,16.291940,7.971233,1.792279,30.437072,5.720994,1.461994,2.317508,3.378576,3.127182,4.602106,7.530288,4.784230,8.064939,3.226742,5.731122,0.031190,0.055286,0.536605,1.944135,9.297197,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,NaN,6.475092,3.775748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.445068
min,1000.000000,36.000000,5.320000,7.610000,0.000000e+00,NaN,NaN,NaN,-1.000000,0.000000,NaN,660.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,2.000000,0.000000,NaN,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,7000.000000,36.000000,10.420000,230.640000,4.750000e+04,NaN,NaN,NaN,11.760000,0.000000,NaN,670.000000,0.000000,8.000000,0.000000,5.230000e+03,26.600000,15.000000,0.000000,NaN,0.000000,2.968600e+04,0.000000,1.000000,0.000000,1.000000,6.000000,9.494000e+03,57.000000,0.000000,1.000000,2145.000000,43.000000,1.480000e+04,0.000000,0.000000,1.000000,3.000000,3135.000000,2236.000000,29.000000,0.000000,0.000000,92.000000,115.000000,4.000000,3.000000,0.000000,6.000000,2.000000,0.000000,2.000000,3.000000,3.000000,4.000000,4.000000,5.000000,8.000000,3.000000,8.000000,0.000000,0.000000,0.000000,1.000000,90.900000,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,NaN,7.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,12000.000000,36.000000,13.490000,361.830000,6.600000e+04,NaN,NaN,NaN,17.730000,0.000000,NaN,690.000000,0.000000,11.000000,0.000000,1.019700e+04,45.000000,22.000000,0.000000,NaN,0.000000,8.459800e+04,1.000000,2.000000,0.000000,1.000000,12.000000,2.403600e+04,73.000000,1.000000,2.000000,4190.000000,58.000000,2.560000e+04,1.000000,0.000000,2.000000,4.000000,7816.000000,6492.000000,53.300000,0.000000,0.000000,129.000000,158.000000,8.000000,5.000000,1.000000,12.000000,5.000000,0.000000,3.000000,5.000000,4.000000,6.000000,7.000000,7.000000,12.000000,5.000000,11.000000,0.000000,0.000000,0.000000,2.000000,98.100000,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,NaN,12.000000,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
75%,20000.000000,36.000000,16.020000,594.620000,9.500000e+04,NaN,NaN,NaN,24.430000,0.000000,NaN,715.000000,1.000000,15.000000,0.000000,1.837400e+04,64.700000,31.000000,0.000000,NaN,0.000000,2.224320e+05,2.000000,3.000000,1.000000,2.000000,21.000000,4.692400e+04,86.000000,2.000000,4.000000,7138.000000,72.000000,4.310000e+04,2.000000,2.000000,3.000000,7.000000,19719.000000,15862.250000,78.450000,0.000000,0.000000,152.000000,226.000000,16.000000,10.000000,2.000000,26.000000,10.000000,0.000000,5.000000,7.000000,6.000000,10.000000,12.000000,10.000000,18.000000,7.000000,14.000000,0.000000,0.000000,0.000000,3.000000,100.000000,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,NaN,15.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
max,40000.000000,60.000000,30.990000,1719.830000,1.099920e+07,NaN,NaN,NaN,999.000000,36.000000,NaN,845.000000,5.000000,88.000000,44.000000,1.696796e+06,154.900000,151.000000,12.000000,NaN,932461.000000,3.566850e+06,16.000000,57.000000,11.000000,23.000000,424.000000,1.711009e+06,464.000000,28.000000,45.000000,571793.000000,173.000000,1.652700e+06,27.000000,68.000000,41.000000,46.000000,646339.000000,366127.000000,252.300000,8.000000,249925.000000,999.000000,803.000000,396.000000,250.000000,23.000000,591.000000,25.000000,34.000000,33.000000,63.000000,43.000000,66.000000,138.000000,71.000000,128.000000,41.000000,87.000000,3.000000,3.000000,36.000000,28.000000,100.000000,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,NaN,35.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [38]:
# unique valukes in earliest_cr_line column
df["earliest_cr_line"].unique()

array(['Apr-1998', 'Apr-1997', 'Jan-1984', 'Nov-2007', 'May-2008',
       'Sep-2005', 'May-2006', 'Aug-2002', 'Sep-2011', 'Aug-2004',
       'Aug-2003', 'Dec-1976', 'Mar-2005', 'Jul-1983', 'Sep-2006',
       'Aug-2008', 'Oct-2010', 'Dec-1999', 'Apr-2004', 'Mar-2006',
       'Dec-2005', 'Mar-1993', 'Mar-1994', 'May-2005', 'Jun-2009',
       'Apr-2003', 'Oct-2002', 'Jan-1994', 'Feb-1998', 'Aug-1995',
       'Nov-2004', 'Nov-2012', 'Oct-1998', 'May-2011', 'Jun-2014',
       'Nov-2005', 'Jul-2005', 'May-2003', 'Jan-1992', 'Aug-2010',
       'Sep-2012', 'Aug-2001', 'Sep-1993', 'Mar-2000', 'Jun-2004',
       'Mar-2002', 'Oct-2003', 'Apr-2007', 'May-2010', 'May-2007',
       'Sep-2003', 'Mar-1985', 'Sep-2004', 'Apr-1993', 'Jan-1981',
       'Nov-1996', 'Feb-1992', 'Nov-1998', 'Jul-2012', 'Jul-2003',
       'Jun-2007', 'Sep-2010', 'Jul-2000', 'May-1986', 'Mar-2007',
       'Aug-1998', 'Oct-1999', 'Jul-2006', 'Feb-2004', 'Dec-2006',
       'Jan-1983', 'Nov-2001', 'Oct-2005', 'Sep-2013', 'Jan-1999',
       'Oct-2000', 'Dec-2000', 'Jun-2000', 'Oct-2004', 'May-2013',
       'Nov-2010', 'Jul-1994', 'Jan-2013', 'Nov-2011', 'Feb-1990',
       'Jul-2004', 'Jan-2001', 'Jun-2003', 'Apr-2002', 'May-2002',
       'Feb-2006', 'Jun-1979', 'Jun-2001', 'Aug-2005', 'Dec-2003',
       'Nov-1992', 'Apr-2000', 'Dec-2002', 'Jul-2008', 'Nov-2008',
       'May-1995', 'Mar-2003', 'Dec-2008', 'Mar-1998', 'Mar-2004',
       'Aug-2006', 'Jun-2006', 'Nov-1999', 'Dec-1989', 'Feb-1991',
       'Dec-1991', 'Apr-2014', 'Jul-2002', 'Jun-2005', 'Jan-2004',
       'Mar-2013', 'Jan-1998', 'Nov-2006', 'Dec-2010', 'Jul-2014',
       'Aug-1999', 'Nov-1985', 'Apr-2006', 'May-1994', 'Aug-1984',
       'Mar-1990', 'Oct-1993', 'Nov-2000', 'May-2004', 'Mar-1999',
       'Jul-2007', 'Nov-2003', 'Sep-1974', 'Apr-1989', 'Nov-1995',
       'May-1999', 'Jan-2011', 'Jul-2001', 'Dec-2004', 'Oct-1996',
       'Dec-1993', 'Feb-2000', 'Jan-2005', 'Sep-1995', 'Apr-1995',
       'Apr-1992', 'Sep-2009', 'Oct-2007', 'Jul-2009', 'Apr-1990',
       'Feb-2011', 'Jun-2002', 'Jun-2012', 'Mar-2010', 'Jul-1992',
       'Jan-2008', 'Feb-2012', 'Oct-1987', 'Jun-1983', 'Jan-2009',
       'Feb-2003', 'Nov-2013', 'Jun-1988', 'Apr-2012', 'Jun-1996',
       'Nov-2009', 'Jun-1995', 'Aug-2007', 'Mar-2009', 'Feb-2008',
       'Nov-1994', 'Sep-1989', 'Jan-2006', 'Oct-2012', 'Dec-1998',
       'Sep-2002', 'Oct-1977', 'Sep-2001', 'Oct-1986', 'Jun-1982',
       'Dec-2001', 'Oct-1984', 'Jun-1994', 'May-1998', 'Dec-1992',
       'Mar-1996', 'Jun-1985', 'Jul-2013', 'Dec-2009', 'Jun-1998',
       'Oct-2008', 'May-1988', 'Mar-2012', 'Jun-2008', 'Jun-2013',
       'May-1989', 'Dec-1996', 'Jan-1995', 'Oct-1988', 'Apr-1991',
       'Oct-2011', 'Jan-1989', 'Jan-2002', 'Aug-2011', 'Aug-1987',
       'Mar-2011', 'Nov-1983', 'Jul-1997', 'Mar-1982', 'Feb-1999',
       'Sep-1996', 'May-2001', 'Aug-1977', 'Aug-2012', 'Feb-2007',
       'Feb-1995', 'Feb-2002', 'Aug-2014', 'Feb-1985', 'Apr-2010',
       'Jan-2003', 'Apr-1988', 'Sep-2008', 'Sep-1982', 'Aug-1993',
       'Jul-1998', 'Jun-2011', 'Sep-2007', 'Jul-1993', 'Jun-1997',
       'May-1973', 'Mar-1987', 'Oct-2001', 'Mar-1988', 'Oct-2013',
       'Jan-1970', 'Dec-1984', 'Jan-1997', 'Sep-1991', 'Jan-2012',
       'Apr-2005', 'Jan-1991', 'May-1996', 'Jul-1996', 'Aug-2000',
       'Feb-1987', 'Jul-1991', 'Jan-1993', 'Mar-2014', 'Aug-1974',
       'Dec-1987', 'Mar-1995', 'Sep-1990', 'Oct-2006', 'Jul-1987',
       'Sep-1994', 'Sep-1983', 'Nov-1991', 'Nov-1987', 'Mar-2008',
       'Apr-1994', 'Jul-2010', 'Jun-2010', 'Dec-1997', 'Apr-2009',
       'Oct-2009', 'Dec-2007', 'Oct-1975', 'Aug-2009', 'Oct-1995',
       'Mar-1991', 'Feb-1984', 'Nov-1997', 'Feb-1993', 'Sep-1979',
       'Apr-1999', 'Apr-1978', 'Sep-1998', 'Nov-2002', 'May-1997',
       'Aug-1990', 'Jul-1995', 'Apr-2008', 'Jan-1986', 'Jun-1999',
       'Jan-2007', 'Aug-1981', 'Jan-1985', 'Nov-1984', 'Feb-2009',
       'Dec-1994', 'Jan-2010', 'May-1972', 'Jan-2014', 'Apr-1985',
       'Aug-1996', 'Mar-1977', 'Mar-1997', 'Dec-1990', 'Jun-1990',
       'Feb-2005', 'Jan-1990', 'Oct-1994', 'Apr-2001', 'Jan-2000',
       'May-1990', 'Jul-1989', 'Nov-1977', 'Aug-1975', 'Nov-1988',
       'Feb-1989', 'Dec-1977', 'Oct-1991', 'May-2012', 'Sep-1992',
       'Mar-2001', 'Jun-1991', 'Dec-2012', 'Jun-1978', 'May-2000',
       'Jul-2011', 'Aug-1997', 'May-2009', 'Feb-2014', 'Jun-1989',
       'Feb-1988', 'Jul-1999', 'May-1975', 'Dec-1988', 'Dec-1985',
       'May-1985', 'Jul-1974', 'Jun-1993', 'Oct-1992', 'May-1992',
       'Aug-1982', 'Oct-1989', 'Sep-2000', 'Feb-1986', 'Apr-1984',
       'Apr-1996', 'Jan-1987', 'Apr-1986', 'Aug-1988', 'Oct-1990',
       'May-1984', 'Oct-1997', 'May-1991', 'Feb-1996', 'Aug-1991',
       'May-1978', 'Feb-1975', 'Mar-1989', 'Sep-1997', 'Nov-1993',
       'Aug-2013', 'Dec-1983', 'Aug-1994', 'Dec-1986', 'Mar-1968',
       'Feb-2001', 'Feb-1997', 'May-1967', 'Jun-1992', 'Jul-1984',
       'Apr-2011', 'Feb-2013', 'Mar-1976', 'Sep-1980', 'Jan-1996',
       'Nov-1990', 'May-1993', 'Dec-2013', 'Sep-1984', 'May-2014',
       'Feb-1994', 'Nov-1986', 'Mar-1992', 'Jul-1990', 'Dec-1968',
       'Sep-1999', 'Sep-1988', 'Oct-1983', 'Jun-1987', 'Apr-2013',
       'Nov-1980', 'Jul-1988', 'May-1983', 'Dec-2011', 'Mar-1984',
       'Jul-1985', 'Apr-1987', 'Dec-1995', 'Oct-1985', 'Oct-1972',
       'Mar-1983', 'Feb-1977', 'Feb-1979', 'Dec-1982', 'Jul-1986',
       'Nov-1981', 'Jan-1988', 'May-1981', 'Sep-1970', 'Apr-1961',
       'Apr-1969', 'Jun-1984', 'Nov-1972', 'Nov-1970', 'Nov-1989',
       'Nov-1982', 'Apr-1983', 'May-1970', 'Feb-1978', 'Sep-1987',
       'May-1979', 'Jul-1977', 'Jul-1982', 'Feb-1980', 'Jun-1971',
       'Jan-1976', 'Oct-1982', 'Aug-1980', 'Apr-1982', 'Aug-1985',
       'Feb-1982', 'Jan-1982', 'Dec-1981', 'May-1977', 'Sep-1986',
       'Jan-1978', 'May-1974', 'Mar-1974', 'Aug-1983', 'Aug-1992',
       'Dec-1975', 'Mar-1978', 'Sep-1985', 'Jun-1969', 'Feb-2010',
       'Jun-1970', 'Jul-1969', 'Apr-1979', 'Apr-1975', 'May-1969',
       'Aug-1989', 'Oct-1978', 'Mar-1986', 'Sep-1981', 'Jan-1962',
       'Aug-1979', 'Jan-1957', 'Jun-1973', 'Sep-1965', 'Oct-1974',
       'Apr-1971', 'Aug-1986', 'Apr-1973', 'Mar-1975', 'Jul-1979',
       'Jan-1975', 'Feb-1973', 'Jul-1980', 'Oct-1971', 'Feb-1967',
       'Mar-1973', 'May-1980', 'Jan-1979', 'Jun-1972', 'Dec-1979',
       'Feb-1976', 'Apr-1980', 'Apr-1981', 'Jan-1980', 'Mar-1979',
       'Nov-1975', 'Jun-1966', 'Nov-1979', 'Feb-1974', 'Jun-1986',
       'Jan-1977', 'Apr-1970', 'Jan-1951', 'Oct-1979', 'Mar-1980',
       'Nov-1976', 'Oct-1981', 'Jul-1973', 'Dec-1978', 'Feb-1981',
       'Apr-1974', 'Aug-1967', 'Dec-1980', 'Sep-1975', 'Jul-1970',
       'Jan-1974', 'Sep-1973', 'Aug-1958', 'Apr-1965', 'Jun-1981',
       'Sep-1978', 'Feb-1972', 'Oct-1980', 'Feb-1983', 'Apr-1977',
       'Oct-1970', 'Jul-1978', 'Mar-1981', 'Jun-1976', 'May-1982',
       'Dec-1970', 'Oct-1969', 'Jun-1977', 'Jul-1965', 'Nov-1973',
       'Nov-1974', 'Jan-1973', 'Jul-1976', 'Aug-1973', 'Aug-1969',
       'Dec-1969', 'Sep-1971', 'Apr-1963', 'Feb-1970', 'May-1987',
       'Nov-1968', 'Aug-1978', 'Aug-1976', 'May-1976', 'Jun-1980',
       'Apr-1976', 'Sep-1966', 'Sep-1977', 'Mar-1969', 'Sep-1968',
       'Nov-1978', 'Nov-1965', 'Apr-1972', 'Jul-1972', 'Nov-1967',
       'Dec-1973', 'Jul-1964', 'Jan-1966', 'Dec-1965', 'Mar-1971',
       'Jan-1967', 'Nov-1964', 'Jan-1969', 'Jun-1974', 'Oct-1973',
       'Oct-1967', 'Sep-1976', 'Jul-1981', 'Jan-1961', 'Aug-1972',
       'Feb-1966', 'Oct-1965', 'Jan-1965', 'Sep-1969', 'Jul-1971',
       'Apr-1968', 'Jan-1971', 'Feb-1971', 'Apr-1966', 'May-1965',
       'Jul-1968', 'Feb-1963', 'Mar-1972', 'Sep-1972', 'Aug-1968',
       'Jun-1965', 'Apr-1964', 'Jul-1975', 'Jun-1967', 'Nov-1969',
       'Jan-1964', 'Sep-1962', 'Aug-1971', 'Mar-1970', 'Jun-1975',
       'Jan-1972', 'Oct-1966', 'Jan-1963', 'Apr-1934', 'Jul-1960',
       'Dec-1959', 'Jan-1959', 'Dec-1971', 'Sep-1967', 'May-1971',
       'Dec-1974', 'Jan-1968', 'May-1968', 'Dec-1972', 'Oct-1976',
       'Dec-1966', 'Feb-1969', 'Jul-1966', 'Oct-1962', 'Feb-1962',
       'Oct-1968', 'Jun-1968', 'Oct-1961', 'Aug-1964', 'May-1964',
       'Nov-1971', 'Jun-1959', 'Nov-1959', 'Jun-1964', 'Jan-1960',
       'May-1966', 'Feb-1968', 'Mar-1967', 'Dec-1964', 'Aug-1970',
       'Jul-1967', 'Dec-1962', 'Mar-1965', 'Jun-1963', 'Dec-1958',
       'Jun-1957', 'Mar-1964', 'Apr-1967', 'Jan-1958', 'Feb-1964',
       'Aug-1962', 'May-1963', 'Nov-1966', 'Sep-1964', 'Oct-1964',
       'Sep-1963', 'Jan-1952', 'Sep-1961', 'Jan-1953', 'Feb-1965',
       'Jul-1958', 'May-1959', 'Aug-1960', 'Aug-1959', 'Nov-1963',
       'Oct-2014', 'Sep-2014', 'Nov-2014', 'Mar-1961', 'Jun-1952',
       'Aug-1961', 'Nov-1956', 'Jan-1954', 'Apr-1962', 'Oct-1963',
       'Aug-1966', 'May-1957', 'Jun-1961', 'Aug-1965'], dtype=object)

In [39]:
# drop earliest cr_line because of text variance
df = df.drop(columns=["earliest_cr_line"])
df.shape, df.columns

((178817, 130),
 Index(['loan_amnt', 'term', 'int_rate', 'installment', 'annual_inc',
        'verification_status', 'loan_status', 'purpose', 'dti', 'delinq_2yrs',
        ...
        'state_TN', 'state_TX', 'state_UT', 'state_VA', 'state_VT', 'state_WA',
        'state_WI', 'state_WV', 'state_WY', 'loan_status_binary'],
       dtype='object', length=130))

In [40]:
# look for transformations again
df.describe(include='all')

,loan_amnt,term,int_rate,installment,annual_inc,verification_status,loan_status,purpose,dti,delinq_2yrs,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,application_type,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,disbursement_method,sub_grade_num,emp_length_years,home_ANY,home_MORTGAGE,home_NONE,home_OWN,home_RENT,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,loan_status_binary
count,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178817,178817,178817,178623.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178656.000000,178817.000000,178817.000000,178817,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,174137.000000,1.788170e+05,154613.000000,178817.000000,178817.000000,178817.000000,178795.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,178812.000000,176464.000000,176367.000000,178817.000000,178817.000000,174137.000000,178817.000000,178817.000000,178817.000000,178817.000000,176582.000000,162639.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,169486.000000,178817.000000,178817.000000,178817.000000,178817.000000,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817,178817.000000,165867.000000,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817.000000
unique,NaN,NaN,NaN,NaN,NaN,3,5,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN
top,NaN,NaN,NaN,NaN,NaN,Source Verified,Fully Paid,debt_consolidation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Individual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN
freq,NaN,NaN,NaN,NaN,NaN,70836,130152,100639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164659,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,177847,NaN,NaN,178614,89865,178814,157385,110590,178446,176683,177477,174106,153135,174564,176219,178441,178293,165621,173317,177935,178226,172415,175681,177486,177107,176798,174710,174600,178275,174089,175632,175994,177708,178332,173747,178448,177950,177916,172880,177886,175802,164577,173407,177246,176614,172980,178015,176722,178451,175941,163780,177368,174026,178466,174936,176366,178717,178502,NaN
mean,14417.128824,41.933396,14.004035,442.692238,7.883489e+04,NaN,NaN,NaN,18.907232,0.324164,698.920125,0.585671,11.658975,0.241974,1.534695e+04,46.092626,24.143062,0.023085,NaN,246.235134,1.477661e+05,1.010178,2.786150,0.728807,1.733851,19.074436,3.614572e+04,70.608067,1.403038,2.989755,5470.366967,56.950860,3.455528e+04,1.137213,1.612162,2.310468,5.039677,14157.951648,12564.158055,52.988547,0.009708,17.709972,123.655065,176.563537,13.038827,7.531186,1.486660,22.420269,6.537700,0.547314,3.540536,5.391423,4.781727,7.417913,8.757719,8.192951,13.679678,5.297729,11.612347,0.000856,0.002841,0.088856,2.287898,93.899041,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,NaN,12.027660,5.809625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.727850
std,9490.662173,10.353594,5.618855,289.918633,7.555752e+04,NaN,NaN,NaN,17.907636,0.912865,34.176619,0.862537,5.751887,0.610310,2.216735e+04,24.919311,12.164768,0.169620,NaN,2913.485460,1.633447e+05,1.177144,2.967175,0.924133,1.618685,23.797272,4.365710e+04,23.434095,1.574786,2.729942,5442.217924,21.259014,3.463132e+04,1.597023,2.805131,2.504960,3.383084,17031.700690,17355.313318,29.253493,0.113095,997.840990,53.665769,96.745153,16.291940,7.971233,1.792279,30.437072,5.720994,1.461994,2.317508,3.378576,3.127182,4.602106,7.530288,4.784230,8.064939,3.226742,5.731122,0.031190,0.055286,0.536605,1.944135,9.297197,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,NaN,6.475092,3.775748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.445068
min,1000.000000,36.000000,5.320000,7.610000,0.000000e+00,NaN,NaN,NaN,-1.000000,0.000000,660.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,2.000000,0.000000,NaN,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,7000.000000,36.000000,10.420000,230.640000,4.750000e+04,NaN,NaN,NaN,11.760000,0.000000,670.000000,0.000000,8.000000,0.000000,5.230000e+03,26.600000,15.000000,0.000000,NaN,0.000000,2.968600e+04,0.000000,1.000000,0.000000,1.000000,6.000000,9.494000e+03,57.000000,0.000000,1.000000,2145.000000,43.000000,1.480000e+04,0.000000,0.000000,1.000000,3.000000,3135.000000,2236.000000,29.000000,0.000000,0.000000,92.000000,115.000000,4.000000,3.000000,0.000000,6.000000,2.000000,0.000000,2.000000,3.000000,3.000000,4.000000,4.000000,5.000000,8.000000,3.000000,8.000000,0.000000,0.000000,0.000000,1.000000,90.900000,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,NaN,7.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,12000.000000,36.000000,13.490000,361.830000,6.600000e+04,NaN,NaN,NaN,17.730000,0.000000,690.000000,0.000000,11.000000,0.000000,1.019700e+04,45.000000,22.000000,0.000000,NaN,0.000000,8.459800e+04,1.000000,2.000000,0.000000,1.000000,12.000000,2.403600e+04,73.000000,1.000000,2.000000,4190.000000,58.000000,2.560000e+04,1.000000,0.000000,2.000000,4.000000,7816.000000,6492.000000,53.300000,0.000000,0.000000,129.000000,158.000000,8.000000,5.000000,1.000000,12.000000,5.000000,0.000000,3.000000,5.000000,4.000000,6.000000,7.000000,7.000000,12.000000,5.000000,11.000000,0.000000,0.000000,0.000000,2.000000,98.100000,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,NaN,12.000000,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
75%,20000.000000,36.000000,16.020000,594.620000,9.500000e+04,NaN,NaN,NaN,24.430000,0.000000,715.000000,1.000000,15.000000,0.000000,1.837400e+04,64.700000,31.000000,0.000000,NaN,0.000000,2.224320e+05,2.000000,3.000000,1.000000,2.000000,21.000000,4.692400e+04,86.000000,2.000000,4.000000,7138.000000,72.000000,4.310000e+04,2.000000,2.000000,3.000000,7.000000,19719.000000,15862.250000,78.450000,0.000000,0.000000,152.000000,226.000000,16.000000,10.000000,2.000000,26.000000,10.000000,0.000000,5.000000,7.000000,6.000000,10.000000,12.000000,10.000000,18.000000,7.000000,14.000000,0.000000,0.000000,0.000000,3.000000,100.000000,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,NaN,15.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
max,40000.000000,60.000000,30.990000,1719.830000,1.099920e+07,NaN,NaN,NaN,999.000000,36.000000,845.000000,5.000000,88.000000,44.000000,1.696796e+06,154.900000,151.000000,12.000000,NaN,932461.000000,3.566850e+06,16.000000,57.000000,11.000000,23.000000,424.000000,1.711009e+06,464.000000,28.000000,45.000000,571793.000000,173.000000,1.652700e+06,27.000000,68.000000,41.000000,46.000000,646339.000000,366127.000000,252.300000,8.000000,249925.000000,999.000000,803.000000,396.000000,250.000000,23.000000,591.000000,25.000000,34.000000,33.000000,63.000000,43.000000,66.000000,138.000000,71.000000,128.000000,41.000000,87.000000,3.000000,3.000000,36.000000,28.000000,100.000000,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,NaN,35.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [41]:
#  find remaining categorical variables
categorical_cols = df.select_dtypes(include=["object"]).columns.tolist()
categorical_cols

['verification_status',
 'loan_status',
 'purpose',
 'application_type',
 'disbursement_method']

In [42]:
# drop original loan_status column
df = df.drop(columns=["loan_status"])

In [43]:
#  find remaining categorical variables
categorical_cols = df.select_dtypes(include=["object"]).columns.tolist()
categorical_cols

['verification_status', 'purpose', 'application_type', 'disbursement_method']

In [44]:
# make dummies for remaining categorical variables
categorical_vars = ['verification_status', 'purpose', 'application_type', 'disbursement_method']

df = pd.get_dummies(df, columns=categorical_vars, drop_first=False)

In [45]:
#  find remaining categorical variables
categorical_cols = df.select_dtypes(include=["object"]).columns.tolist()
categorical_cols

[]

In [46]:
# look at data description
df.describe(include='all')

,loan_amnt,term,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,sub_grade_num,emp_length_years,home_ANY,home_MORTGAGE,home_NONE,home_OWN,home_RENT,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,loan_status_binary,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,application_type_Individual,application_type_Joint App,disbursement_method_Cash,disbursement_method_DirectPay
count,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178623.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178656.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,174137.000000,1.788170e+05,154613.000000,178817.000000,178817.000000,178817.000000,178795.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,178812.000000,176464.000000,176367.000000,178817.000000,178817.000000,174137.000000,178817.000000,178817.000000,178817.000000,178817.000000,176582.000000,162639.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,169486.000000,178817.000000,178817.000000,178817.000000,178817.000000,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817.000000,165867.000000,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817.000000,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817,178817
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,NaN,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,NaN,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,True,False
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178614,89865,178814,157385,110590,178446,176683,177477,174106,153135,174564,176219,178441,178293,165621,173317,177935,178226,172415,175681,177486,177107,176798,174710,174600,178275,174089,175632,175994,177708,178332,173747,178448,177950,177916,172880,177886,175802,164577,173407,177246,176614,172980,178015,176722,178451,175941,163780,177368,174026,178466,174936,176366,178717,178502,NaN,119298,107981,130355,176630,144822,100639,164385,177474,174270,175983,177247,165406,178683,176876,177033,164659,164659,177847,177847
mean,14417.128824,41.933396,14.004035,442.692238,7.883489e+04,18.907232,0.324164,698.920125,0.585671,11.658975,0.241974,1.534695e+04,46.092626,24.143062,0.023085,246.235134,1.477661e+05,1.010178,2.786150,0.728807,1.733851,19.074436,3.614572e+04,70.608067,1.403038,2.989755,5470.366967,56.950860,3.455528e+04,1.137213,1.612162,2.310468,5.039677,14157.951648,12564.158055,52.988547,0.009708,17.709972,123.655065,176.563537,13.038827,7.531186,1.486660,22.420269,6.537700,0.547314,3.540536,5.391423,4.781727,7.417913,8.757719,8.192951,13.679678,5.297729,11.612347,0.000856,0.002841,0.088856,2.287898,93.899041,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,12.027660,5.809625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.727850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,9490.662173,10.353594,5.618855,289.918633,7.555752e+04,17.907636,0.912865,34.176619,0.862537,5.751887,0.610310,2.216735e+04,24.919311,12.164768,0.169620,2913.485460,1.633447e+05,1.177144,2.967175,0.924133,1.618685,23.797272,4.365710e+04,23.434095,1.574786,2.729942,5442.217924,21.259014,3.463132e+04,1.597023,2.805131,2.504960,3.383084,17031.700690,17355.313318,29.253493,0.113095,997.840990,53.665769,96.745153,16.291940,7.971233,1.792279,30.437072,5.720994,1.461994,2.317508,3.378576,3.127182,4.602106,7.530288,4.784230,8.064939,3.226742,5.731122,0.031190,0.055286,0.536605,1.944135,9.297197,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,6.475092,3.775748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.445068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1000.000000,36.000000,5.320000,7.610000,0.000000e+00,-1.000000,0.000000,660.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,2.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,7000.000000,36.000000,10.420000,230.640000,4.750000e+04,11.760000,0.000000,670.000000,0.000000,8.000000,0.000000,5.230000e+03,26.600000,15.000000,0.000000,0.000000,2.968600e+04,0.000000,1.000000,0.000000,1.000000,6.000000,9.494000e+03,57.000000,0.000000,1.000000,2145.000000,43.000000,1.480000e+04,0.000000,0.000000,1.000000,3.000000,3135.000000,2236.000000,29.000000,0.000000,0.000000,92.000000,115.000000,4.000000,3.000000,0.000000,6.000000,2.000000,0.000000,2.000000,3.000000,3.000000,4.000000,4.000000,5.000000,8.000000,3.000000,8.000000,0.000000,0.000000,0.000000,1.000000,90.900000,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,7.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,12000.000000,36.000000,13.490000,361.830000,6.600000e+04,17.730000,0.000000,690.000000,0.000000,11.000000,0.000000,1.019700e+04,45.000000,22.000000,0.000000,0.000000,8.459800e+04,1.000000,2.000000,0.000000,1.000000,12.000000,2.403600e+04,73.000000,1.000000,2.000000,4190.000000,58.000000,2.560000e+04,1.000000,0.000000,2.000000,4.000000,7816.000000,6492.000000,53.300000,0.000000,0.000000,129.000000,158.000000,8.000000,5.000000,1.000000,12.000000,5.000000,0.000000,3.000000,5.000000,4.000000,6.000000,7.000000,7.000000,12.000000,5.000000,11.000000,0.000000,0.000000,0.000000,2.000000,98.100000,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,12.000000,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,20000.000000,36.000000,16.020000,594.620000,9.500000e+04,24.430000,0.000000,715.000000,1.000000,15.000000,0.000000,1.837400e+04,64.700000,31.000000,0.000000,0.000000,2.224320e+05,2.000000,3.000000,1.000000,2.000000,21.000000,4.692400e+04,86.000000,2.000000,4.000000,7138.000000,72.000000,4.310000e+04,2.000000,2.000000,3.000000,7.000000,19719.000000,15862.250000,78.450000,0.000000,0.000000,152.000000,226.000000,16.000000,10.000000,2.000000,26.000000,10.000000,0.000000,5.000000,7.000000,6.000000,10.000000,12.000000,10.000000,18.000000,7.000000,14.000000,0.000000,0.000000,0.000000,3.000000,100.000000,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,15.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,40000.000000,60.000000,30.990000,1719.830000,1.099920e+07,999.000000,36.000000,845.000000,5.000000,88.000000,44.000000,1.696796e+06,154.900000,151.000000,12.000000,932461.000000,3.566850e+06,16.000000,57.000000,11.000000,23.000000,424.000000,1.711009e+06,464.000000,28.000000,45.000000,571793.000000,173.000000,1.652700e+06,27.000000,68.000000,41.000000,46.000000,646339.000000,366127.000000,252.300000,8.000000,249925.000000,999.000000,803.000000,396.000000,250.000000,23.000000,591.000000,25.000000,34.000000,33.000000,63.000000,43.000000,66.000000,138.000000,71.000000,128.000000,41.000000,87.000000,3.000000,3.000000,36.000000,28.000000,100.000000,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,35.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.head()

,loan_amnt,term,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,sub_grade_num,emp_length_years,home_ANY,home_MORTGAGE,home_NONE,home_OWN,home_RENT,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,loan_status_binary,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,application_type_Individual,application_type_Joint App,disbursement_method_Cash,disbursement_method_DirectPay
0,35000.0,60,12.62,789.57,85000.0,12.14,0.0,680.0,0.0,7.0,1.0,6029.0,30.6,17.0,0.0,0.0,21567.0,1.0,2.0,2.0,3.0,4.0,15538.0,73.0,2.0,3.0,3570.0,53.0,19700.0,0.0,0.0,3.0,6.0,3081.0,12471.0,32.6,0.0,0.0,167.0,233.0,12.0,4.0,2.0,12.0,12.0,0.0,4.0,4.0,4.0,6.0,7.0,5.0,8.0,4.0,7.0,0.0,0.0,0.0,4.0,92.3,25.0,1.0,0.0,40953.0,21567.0,18500.0,21253.0,11,10.0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,True,False
1,10000.0,36,15.05,346.90,10000.0,49.94,0.0,705.0,3.0,13.0,0.0,16253.0,24.7,16.0,0.0,0.0,16253.0,2.0,0.0,0.0,0.0,NaN,0.0,NaN,4.0,8.0,6581.0,25.0,65700.0,0.0,0.0,5.0,8.0,1250.0,44147.0,26.9,0.0,0.0,NaN,245.0,5.0,5.0,0.0,5.0,5.0,0.0,10.0,10.0,11.0,13.0,0.0,13.0,16.0,10.0,13.0,0.0,0.0,0.0,4.0,100.0,9.1,0.0,0.0,65700.0,16253.0,60400.0,0.0,14,1.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True,True,False
2,10000.0,60,13.59,230.57,58000.0,21.64,0.0,675.0,0.0,15.0,1.0,11464.0,31.9,47.0,0.0,374.0,146107.0,0.0,2.0,0.0,1.0,16.0,28901.0,87.0,1.0,7.0,6021.0,59.0,35900.0,0.0,0.0,1.0,8.0,10436.0,7485.0,57.0,0.0,0.0,92.0,404.0,12.0,12.0,3.0,24.0,12.0,0.0,3.0,6.0,4.0,17.0,4.0,12.0,40.0,6.0,15.0,0.0,0.0,0.0,1.0,97.4,50.0,1.0,0.0,218992.0,40365.0,17400.0,33092.0,12,3.0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,True,False
3,1000.0,36,15.05,34.69,43000.0,19.29,0.0,695.0,0.0,8.0,0.0,17079.0,43.2,14.0,0.0,0.0,28669.0,2.0,2.0,0.0,1.0,22.0,11590.0,59.0,2.0,4.0,4890.0,49.0,39500.0,0.0,0.0,0.0,5.0,3584.0,19882.0,45.8,0.0,0.0,97.0,118.0,6.0,6.0,0.0,6.0,23.0,0.0,4.0,5.0,5.0,7.0,4.0,6.0,9.0,5.0,8.0,0.0,0.0,0.0,2.0,100.0,20.0,0.0,0.0,59000.0,28669.0,36700.0,19500.0,14,7.0,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,0,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,True,False
4,4000.0,36,16.02,140.67,13000.0,11.08,0.0,710.0,0.0,2.0,0.0,4184.0,76.1,3.0,0.0,0.0,4184.0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,1.0,1.0,3278.0,76.0,5500.0,0.0,0.0,1.0,1.0,2092.0,1316.0,76.1,0.0,0.0,NaN,112.0,3.0,3.0,0.0,3.0,7.0,0.0,2.0,2.0,2.0,3.0,0.0,2.0,3.0,2.0,2.0,0.0,0.0,0.0,1.0,100.0,50.0,0.0,0.0,5500.0,4184.0,5500.0,0.0,15,NaN,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False

In [48]:
# determine if target is missing any values
df["loan_status_binary"].isnull().sum()

np.int64(0)

In [49]:
# handle true/false cols
# Find all boolean columns
bool_cols = df.select_dtypes(include='bool').columns

# Convert them to integers (True → 1, False → 0)
df[bool_cols] = df[bool_cols].astype(int)

In [50]:
# look at description again
df.describe(include='all')

,loan_amnt,term,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,sub_grade_num,emp_length_years,home_ANY,home_MORTGAGE,home_NONE,home_OWN,home_RENT,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,loan_status_binary,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,application_type_Individual,application_type_Joint App,disbursement_method_Cash,disbursement_method_DirectPay
count,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178623.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178656.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,174137.000000,1.788170e+05,154613.000000,178817.000000,178817.000000,178817.000000,178795.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,178812.000000,176464.000000,176367.000000,178817.000000,178817.000000,174137.000000,178817.000000,178817.000000,178817.000000,178817.000000,176582.000000,162639.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,169486.000000,178817.000000,178817.000000,178817.000000,178817.000000,176456.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817.000000,165867.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000
mean,14417.128824,41.933396,14.004035,442.692238,7.883489e+04,18.907232,0.324164,698.920125,0.585671,11.658975,0.241974,1.534695e+04,46.092626,24.143062,0.023085,246.235134,1.477661e+05,1.010178,2.786150,0.728807,1.733851,19.074436,3.614572e+04,70.608067,1.403038,2.989755,5470.366967,56.950860,3.455528e+04,1.137213,1.612162,2.310468,5.039677,14157.951648,12564.158055,52.988547,0.009708,17.709972,123.655065,176.563537,13.038827,7.531186,1.486660,22.420269,6.537700,0.547314,3.540536,5.391423,4.781727,7.417913,8.757719,8.192951,13.679678,5.297729,11.612347,0.000856,0.002841,0.088856,2.287898,93.899041,37.230222,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,12.027660,5.809625,0.001135,0.497447,0.000017,0.119854,0.381546,0.002075,0.011934,0.007494,0.026345,0.143622,0.023784,0.014529,0.002103,0.002930,0.073796,0.030758,0.004932,0.003305,0.035802,0.017537,0.007443,0.009563,0.011291,0.022968,0.023583,0.003031,0.026440,0.017812,0.015787,0.006202,0.002712,0.028353,0.002064,0.004849,0.005039,0.033202,0.005206,0.016861,0.079634,0.030254,0.008786,0.012320,0.032642,0.004485,0.011716,0.002047,0.016083,0.084092,0.008103,0.026793,0.001963,0.021704,0.013707,0.000559,0.001762,0.727850,0.332849,0.396137,0.271015,0.012230,0.190111,0.562804,0.080708,0.007510,0.025428,0.015849,0.008780,0.074998,0.000749,0.010855,0.009977,0.920824,0.079176,0.994575,0.005425
std,9490.662173,10.353594,5.618855,289.918633,7.555752e+04,17.907636,0.912865,34.176619,0.862537,5.751887,0.610310,2.216735e+04,24.919311,12.164768,0.169620,2913.485460,1.633447e+05,1.177144,2.967175,0.924133,1.618685,23.797272,4.365710e+04,23.434095,1.574786,2.729942,5442.217924,21.259014,3.463132e+04,1.597023,2.805131,2.504960,3.383084,17031.700690,17355.313318,29.253493,0.113095,997.840990,53.665769,96.745153,16.291940,7.971233,1.792279,30.437072,5.720994,1.461994,2.317508,3.378576,3.127182,4.602106,7.530288,4.784230,8.064939,3.226742,5.731122,0.031190,0.055286,0.536605,1.944135,9.297197,35.699886,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,6.475092,3.775748,0.033674,0.499995,0.004096,0.324792,0.485768,0.045502,0.108589,0.086241,0.160161,0.350707,0.152376,0.119657,0.045807,0.054054,0.261440,0.172661,0.070058,0.057395,0.185797,0.131263,0.085953,0.097321,0.105657,0.149801,0.151746,0.054971,0.160442,0.132266,0.124651,0.078508,0.052009,0.165980,0.045380,0.069463,0.070805,0.179163,0.071968,0.128750,0.270727,0.171287,0.093319,0.110309,0.177699,0.066820,0.107604,0.045195,0.125797,0.277526,0.089653,0.161478,0.044261,0.145715,0.116271,0.023642,0.041934,0.445068,0.471234,0.489095,0.444485,0.109913,0.392389,0.496041,0.272387,0.086337,0.157422,0.124890,0.093289,0.263390,0.027364,0.103619,0.099384,0.270014,0.270014,0.073452,0.073452
min,1000.000000,36.000000,5.320000,7.610000,0.000000e+00,-1.000000,0.000000,660.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,2.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7000.000000,36.000000,10.420000,230.640000,4.750000e+04,11.760000,0.000000,670.000000,0.000000,8.000000,0.000000,5.230000e+03,26.600000,15.000000,0.000000,0.000000,2.968600e+04,0.000000,1.000000,0.000000,1.000000,6.000000,9.494000e+03,57.000000,0.000000,1.000000,2145.000000,43.000000,1.480000e+04,0.000000,0.000000,1.000000,3.000000,3135.000000,2236.000000,29.000000,0.000000,0.000000,92.000000,115.000000,4.000000,3.000000,0.000000,6.000000,2.000000,0.000000,2.000000,3.000000,3.000000,4.000000,4.000000,5.000000,8.000000,3.000000,8.000000,0.000000,0.000000,0.000000,1.000000,90.900000,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,7.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
50%,12000.000000,36.000000,13.490000,361.830000,6.600000e+04,17.730000,0.000000,690.000000,0.000000,11.000000,0.000000,1.019700e+04,45.000000,22.000000,0.000000,0.000000,8.459800e+04,1.000000,2.000000,0.000000,1.000000,12.000000,2.403600e+04,73.000000,1.000000,2.000000,4190.000000,58.000000,2.560000e+04,1.000000,0.000000,2.000000,4.000000,7816.000000,6492.000000,53.300000,0.000000,0.000000,129.000000,158.000000,8.000000,5.000000,1.000000,12.000000,5.000000,0.000000,3.000000,5.000000,4.000000,6.000000,7.000000,7.000000,12.000000,5.000000,11.000000,0.000000,0.000000,0.000000,2.000000,98.100000,33.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,12.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,20000.000000,36.000000,16.020000,594.620000,9.500000e+04,24.430000,0.000000,715.000000,1.000000,15.000000,0.000000,1.837400e+04,64.700000,31.000000,0.000000,0.000000,2.224320e+05,2.000000,3.000000,1.000000,2.000000,21.000000,4.692400e+04,86.000000,2.000000,4.000000,7138.000000,72.000000,4.310000e+04,2.000000,2.000000,3.000000,7.000000,19719.000000,15862.250000,78.450000,0.000000,0.000000,152.000000,226.000000,16.000000,10.000000,2.000000,26.000000,10.000000,0.000000,5.000000,7.000000,6.000000,10.000000,12.000000,10.000000,18.000000,7.000000,14.000000,0.000000,0.000000,0.000000,3.000000,100.000000,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,15.000000,10.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,40000.000000,60.000000,30.990000,1719.830000,1.099920e+07,999.000000,36.000000,845.000000,5.000000,88.000000,44.000000,1.696796e+06,154.900000,151.000000,12.000000,932461.000000,3.566850e+06,16.000000,57.000000,11.000000,23.000000,424.000000,1.711009e+06,464.000000,28.000000,45.000000,571793.000000,173.000000,1.652700e+06,27.000000,68.000000,41.000000,46.000000,646339.000000,366127.000000,252.300000,8.000000,249925.000000,999.000000,803.000000,396.000000,250.000000,23.000000,591.000000,25.000000,34.000000,33.000000,63.000000,43.000000,66.000000,138.000000,71.000000,128.000000,41.000000,87.000000,3.000000,3.000000,36.000000,28.000000,100.000000,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,35.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [51]:
# find features with missing values
missing_cols = df.columns[df.isna().any()]
df[missing_cols].isna().sum().sort_values(ascending=False)

il_util                  24204
mths_since_recent_inq    16178
emp_length_years         12950
num_tl_120dpd_2m          9331
mths_since_rcnt_il        4680
mo_sin_old_il_acct        4680
bc_util                   2450
percent_bc_gt_75          2361
bc_open_to_buy            2353
mths_since_recent_bc      2235
dti                        194
revol_util                 161
all_util                    22
avg_cur_bal                  5
dtype: int64

In [54]:
# assume when il_util is missing it means 0
df["il_util"] = df["il_util"].fillna(0)
# assume when mths_since_recent_inq is missing it means no recent inquiries
df["mths_since_recent_inq"] = df["mths_since_recent_inq"].fillna(0)
# emp_length_years missing values can be filled with -1 as the customer didn't enter the value, it is it's own category
df["emp_length_years"] = df["emp_length_years"].fillna(-1)
# assume num_tl_120dpd_2m missing values means 0
df["num_tl_120dpd_2m"] = df["num_tl_120dpd_2m"].fillna(0)
# assume mths_since_rcnt_il means they never had an installment loan
df["mths_since_rcnt_il"] = df["mths_since_rcnt_il"].fillna(0)
#  assume mo_sin_old_il_acct means they never had an installment loan
df["mo_sin_old_il_acct"] = df["mo_sin_old_il_acct"].fillna(0)
#  assume the same for bc_util, percent_bc_gt_75, bc_open_to_buy, mths_since_recent_bc
df["bc_util"] = df["bc_util"].fillna(0)
df["percent_bc_gt_75"] = df["percent_bc_gt_75"].fillna(0)
df["bc_open_to_buy"] = df["bc_open_to_buy"].fillna(0)
df["mths_since_recent_bc"] = df["mths_since_recent_bc"].fillna(0)

In [55]:
# find features with missing values
missing_cols = df.columns[df.isna().any()]
df[missing_cols].isna().sum().sort_values(ascending=False)

dti            194
revol_util     161
all_util        22
avg_cur_bal      5
dtype: int64

In [56]:
# fill missing dti with median
df["dti"] = df["dti"].fillna(df["dti"].median())
# fill revol_util with 0s
df["revol_util"] = df["revol_util"].fillna(0)
# fill all_util with 0s
df["all_util"] = df["all_util"].fillna(0)
# avg_cur_bal with 0s
df["avg_cur_bal"] = df["avg_cur_bal"].fillna(0)

In [57]:
# find features with missing values
missing_cols = df.columns[df.isna().any()]
df[missing_cols].isna().sum().sort_values(ascending=False)

Series([], dtype: float64)

In [58]:
# look at description again
df.describe(include='all')

,loan_amnt,term,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,sub_grade_num,emp_length_years,home_ANY,home_MORTGAGE,home_NONE,home_OWN,home_RENT,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,loan_status_binary,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,application_type_Individual,application_type_Joint App,disbursement_method_Cash,disbursement_method_DirectPay
count,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,1.788170e+05,1.788170e+05,178817.000000,1.788170e+05,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000,178817.000000
mean,14417.128824,41.933396,14.004035,442.692238,7.883489e+04,18.905955,0.324164,698.920125,0.585671,11.658975,0.241974,1.534695e+04,46.051126,24.143062,0.023085,246.235134,1.477661e+05,1.010178,2.786150,0.728807,1.733851,18.575219,3.614572e+04,61.050823,1.403038,2.989755,5470.366967,56.943853,3.455528e+04,1.137213,1.612162,2.310468,5.039677,14157.555769,12398.830016,52.262542,0.009708,17.709972,120.418763,176.563537,13.038827,7.531186,1.486660,22.140043,5.946219,0.547314,3.540536,5.391423,4.781727,7.417913,8.757719,8.192951,13.679678,5.297729,11.612347,0.000811,0.002841,0.088856,2.287898,93.899041,36.738655,0.159979,0.057153,1.845355e+05,5.162051e+04,23305.667224,4.556555e+04,12.027660,5.316469,0.001135,0.497447,0.000017,0.119854,0.381546,0.002075,0.011934,0.007494,0.026345,0.143622,0.023784,0.014529,0.002103,0.002930,0.073796,0.030758,0.004932,0.003305,0.035802,0.017537,0.007443,0.009563,0.011291,0.022968,0.023583,0.003031,0.026440,0.017812,0.015787,0.006202,0.002712,0.028353,0.002064,0.004849,0.005039,0.033202,0.005206,0.016861,0.079634,0.030254,0.008786,0.012320,0.032642,0.004485,0.011716,0.002047,0.016083,0.084092,0.008103,0.026793,0.001963,0.021704,0.013707,0.000559,0.001762,0.727850,0.332849,0.396137,0.271015,0.012230,0.190111,0.562804,0.080708,0.007510,0.025428,0.015849,0.008780,0.074998,0.000749,0.010855,0.009977,0.920824,0.079176,0.994575,0.005425
std,9490.662173,10.353594,5.618855,289.918633,7.555752e+04,17.897962,0.912865,34.176619,0.862537,5.751887,0.610310,2.216735e+04,24.946424,12.164768,0.169620,2913.485460,1.633447e+05,1.177144,2.967175,0.924133,1.618685,23.680407,4.365710e+04,32.531607,1.574786,2.729942,5442.217924,21.267088,3.463132e+04,1.597023,2.805131,2.504960,3.383084,17031.627109,17300.094549,29.698230,0.113095,997.840990,56.518600,96.745153,16.291940,7.971233,1.792279,30.348648,5.769377,1.461994,2.317508,3.378576,3.127182,4.602106,7.530288,4.784230,8.064939,3.226742,5.731122,0.030366,0.055286,0.536605,1.944135,9.297197,35.717137,0.396926,0.397175,1.832995e+05,5.097016e+04,22887.783594,4.551246e+04,6.475092,4.042134,0.033674,0.499995,0.004096,0.324792,0.485768,0.045502,0.108589,0.086241,0.160161,0.350707,0.152376,0.119657,0.045807,0.054054,0.261440,0.172661,0.070058,0.057395,0.185797,0.131263,0.085953,0.097321,0.105657,0.149801,0.151746,0.054971,0.160442,0.132266,0.124651,0.078508,0.052009,0.165980,0.045380,0.069463,0.070805,0.179163,0.071968,0.128750,0.270727,0.171287,0.093319,0.110309,0.177699,0.066820,0.107604,0.045195,0.125797,0.277526,0.089653,0.161478,0.044261,0.145715,0.116271,0.023642,0.041934,0.445068,0.471234,0.489095,0.444485,0.109913,0.392389,0.496041,0.272387,0.086337,0.157422,0.124890,0.093289,0.263390,0.027364,0.103619,0.099384,0.270014,0.270014,0.073452,0.073452
min,1000.000000,36.000000,5.320000,7.610000,0.000000e+00,-1.000000,0.000000,660.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,2.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7000.000000,36.000000,10.420000,230.640000,4.750000e+04,11.760000,0.000000,670.000000,0.000000,8.000000,0.000000,5.230000e+03,26.500000,15.000000,0.000000,0.000000,2.968600e+04,0.000000,1.000000,0.000000,1.000000,6.000000,9.494000e+03,45.000000,0.000000,1.000000,2145.000000,43.000000,1.480000e+04,0.000000,0.000000,1.000000,3.000000,3135.000000,2104.000000,27.900000,0.000000,0.000000,86.000000,115.000000,4.000000,3.000000,0.000000,6.000000,1.000000,0.000000,2.000000,3.000000,3.000000,4.000000,4.000000,5.000000,8.000000,3.000000,8.000000,0.000000,0.000000,0.000000,1.000000,90.900000,0.000000,0.000000,0.000000,5.300200e+04,2.080300e+04,8500.000000,1.627600e+04,7.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
50%,12000.000000,36.000000,13.490000,361.830000,6.600000e+04,17.730000,0.000000,690.000000,0.000000,11.000000,0.000000,1.019700e+04,45.000000,22.000000,0.000000,0.000000,8.459800e+04,1.000000,2.000000,0.000000,1.000000,12.000000,2.403600e+04,69.000000,1.000000,2.000000,4190.000000,58.000000,2.560000e+04,1.000000,0.000000,2.000000,4.000000,7815.000000,6330.000000,52.700000,0.000000,0.000000,128.000000,158.000000,8.000000,5.000000,1.000000,12.000000,4.000000,0.000000,3.000000,5.000000,4.000000,6.000000,7.000000,7.000000,12.000000,5.000000,11.000000,0.000000,0.000000,0.000000,2.000000,98.100000,31.300000,0.000000,0.000000,1.208410e+05,3.813800e+04,16600.000000,3.459700e+04,12.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,20000.000000,36.000000,16.020000,594.620000,9.500000e+04,24.430000,0.000000,715.000000,1.000000,15.000000,0.000000,1.837400e+04,64.700000,31.000000,0.000000,0.000000,2.224320e+05,2.000000,3.000000,1.000000,2.000000,21.000000,4.692400e+04,84.000000,2.000000,4.000000,7138.000000,72.000000,4.310000e+04,2.000000,2.000000,3.000000,7.000000,19719.000000,15677.000000,78.100000,0.000000,0.000000,151.000000,226.000000,16.000000,10.000000,2.000000,26.000000,9.000000,0.000000,5.000000,7.000000,6.000000,10.000000,12.000000,10.000000,18.000000,7.000000,14.000000,0.000000,0.000000,0.000000,3.000000,100.000000,66.700000,0.000000,0.000000,2.676130e+05,6.525200e+04,30300.000000,6.116200e+04,15.000000,10.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,40000.000000,60.000000,30.990000,1719.830000,1.099920e+07,999.000000,36.000000,845.000000,5.000000,88.000000,44.000000,1.696796e+06,154.900000,151.000000,12.000000,932461.000000,3.566850e+06,16.000000,57.000000,11.000000,23.000000,424.000000,1.711009e+06,464.000000,28.000000,45.000000,571793.000000,173.000000,1.652700e+06,27.000000,68.000000,41.000000,46.000000,646339.000000,366127.000000,252.300000,8.000000,249925.000000,999.000000,803.000000,396.000000,250.000000,23.000000,591.000000,25.000000,34.000000,33.000000,63.000000,43.000000,66.000000,138.000000,71.000000,128.000000,41.000000,87.000000,3.000000,3.000000,36.000000,28.000000,100.000000,100.000000,7.000000,44.000000,9.999999e+06,3.408095e+06,711400.000000,1.736064e+06,35.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [59]:
df.head()

,loan_amnt,term,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,sub_grade_num,emp_length_years,home_ANY,home_MORTGAGE,home_NONE,home_OWN,home_RENT,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_DC,state_DE,state_FL,state_GA,state_HI,state_ID,state_IL,state_IN,state_KS,state_KY,state_LA,state_MA,state_MD,state_ME,state_MI,state_MN,state_MO,state_MS,state_MT,state_NC,state_ND,state_NE,state_NH,state_NJ,state_NM,state_NV,state_NY,state_OH,state_OK,state_OR,state_PA,state_RI,state_SC,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY,loan_status_binary,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,application_type_Individual,application_type_Joint App,disbursement_method_Cash,disbursement_method_DirectPay
0,35000.0,60,12.62,789.57,85000.0,12.14,0.0,680.0,0.0,7.0,1.0,6029.0,30.6,17.0,0.0,0.0,21567.0,1.0,2.0,2.0,3.0,4.0,15538.0,73.0,2.0,3.0,3570.0,53.0,19700.0,0.0,0.0,3.0,6.0,3081.0,12471.0,32.6,0.0,0.0,167.0,233.0,12.0,4.0,2.0,12.0,12.0,0.0,4.0,4.0,4.0,6.0,7.0,5.0,8.0,4.0,7.0,0.0,0.0,0.0,4.0,92.3,25.0,1.0,0.0,40953.0,21567.0,18500.0,21253.0,11,10.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0
1,10000.0,36,15.05,346.90,10000.0,49.94,0.0,705.0,3.0,13.0,0.0,16253.0,24.7,16.0,0.0,0.0,16253.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,8.0,6581.0,25.0,65700.0,0.0,0.0,5.0,8.0,1250.0,44147.0,26.9,0.0,0.0,0.0,245.0,5.0,5.0,0.0,5.0,5.0,0.0,10.0,10.0,11.0,13.0,0.0,13.0,16.0,10.0,13.0,0.0,0.0,0.0,4.0,100.0,9.1,0.0,0.0,65700.0,16253.0,60400.0,0.0,14,1.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0
2,10000.0,60,13.59,230.57,58000.0,21.64,0.0,675.0,0.0,15.0,1.0,11464.0,31.9,47.0,0.0,374.0,146107.0,0.0,2.0,0.0,1.0,16.0,28901.0,87.0,1.0,7.0,6021.0,59.0,35900.0,0.0,0.0,1.0,8.0,10436.0,7485.0,57.0,0.0,0.0,92.0,404.0,12.0,12.0,3.0,24.0,12.0,0.0,3.0,6.0,4.0,17.0,4.0,12.0,40.0,6.0,15.0,0.0,0.0,0.0,1.0,97.4,50.0,1.0,0.0,218992.0,40365.0,17400.0,33092.0,12,3.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0
3,1000.0,36,15.05,34.69,43000.0,19.29,0.0,695.0,0.0,8.0,0.0,17079.0,43.2,14.0,0.0,0.0,28669.0,2.0,2.0,0.0,1.0,22.0,11590.0,59.0,2.0,4.0,4890.0,49.0,39500.0,0.0,0.0,0.0,5.0,3584.0,19882.0,45.8,0.0,0.0,97.0,118.0,6.0,6.0,0.0,6.0,23.0,0.0,4.0,5.0,5.0,7.0,4.0,6.0,9.0,5.0,8.0,0.0,0.0,0.0,2.0,100.0,20.0,0.0,0.0,59000.0,28669.0,36700.0,19500.0,14,7.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0
4,4000.0,36,16.02,140.67,13000.0,11.08,0.0,710.0,0.0,2.0,0.0,4184.0,76.1,3.0,0.0,0.0,4184.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3278.0,76.0,5500.0,0.0,0.0,1.0,1.0,2092.0,1316.0,76.1,0.0,0.0,0.0,112.0,3.0,3.0,0.0,3.0,7.0,0.0,2.0,2.0,2.0,3.0,0.0,2.0,3.0,2.0,2.0,0.0,0.0,0.0,1.0,100.0,50.0,0.0,0.0,5500.0,4184.0,5500.0,0.0,15,-1.0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0

In [60]:
# write cleaned dataframe to csv
df.to_csv("../data/dataset.csv", index=False)