In [ ]:
# Import libraries
import pandas as pd

In [34]:
# Load the dataset, accepted loans only
file_path = "../data/accepted_2007_to_2018Q4.csv"
df = pd.read_csv(file_path)
df.head()

/var/folders/c9/4lmf4c5n2q9fnm1238mvpkqc0000gn/T/ipykernel_20238/261142636.py:3: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# Check the shape of the DataFrame
df.shape

(2260701, 151)

In [36]:
# Examine the target variable

# df['loan_status'].unique()
print("\nLoan Status Counts:")
print(df['loan_status'].value_counts())

Loan Status Counts:
loan_status
Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: count, dtype: int64

In [37]:
# Convert issue date to datetime
df['issue_d'] = pd.to_datetime(df['issue_d'], errors='coerce')

# Count loans issued in 2017
df_2017 = df[df['issue_d'].dt.year == 2017]
print("\nLoans issued in 2017:", df_2017.shape[0])
df_2017.shape

/var/folders/c9/4lmf4c5n2q9fnm1238mvpkqc0000gn/T/ipykernel_20238/2993069552.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['issue_d'] = pd.to_datetime(df['issue_d'], errors='coerce')

Loans issued in 2017: 443579

(443579, 151)

In [39]:
# write 2017 loans accepted to a new csv
df_2017.to_csv("../data/accepted_2017.csv", index=False)

In [40]:
# reduce even further, down to loans with valid loan_status
valid_statuses = [
    "Fully Paid",
    "Charged Off",
    "Late (31-120 days)",
    "Late (16-30 days)",
    "Default"
]
df_2017_filtered = df_2017[df_2017['loan_status'].isin(valid_statuses)]

In [41]:
# examine the target variable again
df_2017_filtered['loan_status'].value_counts()

loan_status
Fully Paid            130152
Charged Off            39148
Late (31-120 days)      8004
Late (16-30 days)       1492
Default                   21
Name: count, dtype: int64

In [42]:
# emanine the shape of the filtered 2017 DataFrame
df_2017_filtered.shape

(178817, 151)

In [43]:
# write this to a new csv
df_2017_filtered.to_csv("../data/accepted_2017_valid_targets.csv", index=False)

In [44]:
# look for features with lots of missing values, first redefine dataframe
df = pd.read_csv("../data/accepted_2017_valid_targets.csv")
missing_percent = df.isnull().mean().sort_values(ascending=False) * 100
missing_percent

/var/folders/c9/4lmf4c5n2q9fnm1238mvpkqc0000gn/T/ipykernel_20238/897221329.py:2: DtypeWarning: Columns (118) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/accepted_2017_valid_targets.csv")

member_id                                     100.000000
desc                                          100.000000
orig_projected_additional_accrued_interest     99.315501
hardship_length                                99.000654
payment_plan_start_date                        99.000654
                                                 ...
recoveries                                      0.000000
total_rec_late_fee                              0.000000
total_rec_int                                   0.000000
total_rec_prncp                                 0.000000
inq_fi                                          0.000000
Length: 151, dtype: float64

In [46]:
# view features with more than 50% missing values
missing_percent[missing_percent > 50]

member_id                                     100.000000
desc                                          100.000000
orig_projected_additional_accrued_interest     99.315501
hardship_length                                99.000654
payment_plan_start_date                        99.000654
hardship_type                                  99.000654
hardship_reason                                99.000654
hardship_status                                99.000654
deferral_term                                  99.000654
hardship_amount                                99.000654
hardship_start_date                            99.000654
hardship_last_payment_amount                   99.000654
hardship_end_date                              99.000654
hardship_payoff_balance_amount                 99.000654
hardship_loan_status                           99.000654
hardship_dpd                                   99.000654
settlement_term                                97.570142
debt_settlement_flag_date                      97.570142
settlement_status                              97.570142
settlement_date                                97.570142
settlement_amount                              97.570142
settlement_percentage                          97.570142
sec_app_mths_since_last_major_derog            97.409083
next_pymnt_d                                   94.677799
sec_app_revol_util                             93.064418
revol_bal_joint                                92.947539
sec_app_num_rev_accts                          92.946979
sec_app_fico_range_high                        92.946979
sec_app_earliest_cr_line                       92.946979
sec_app_inq_last_6mths                         92.946979
sec_app_mort_acc                               92.946979
sec_app_open_acc                               92.946979
sec_app_open_act_il                            92.946979
sec_app_fico_range_low                         92.946979
sec_app_chargeoff_within_12_mths               92.946979
sec_app_collections_12_mths_ex_med             92.946979
verification_status_joint                      92.082968
annual_inc_joint                               92.082408
dti_joint                                      92.082408
mths_since_last_record                         80.525901
mths_since_recent_bc_dlq                       76.483220
mths_since_last_major_derog                    72.125134
mths_since_recent_revol_delinq                 66.086558
dtype: float64

In [47]:
# drop features with more than 50% missing values
threshold = 0.50   
cols_to_drop = missing_percent[missing_percent > threshold * 100].index.tolist()

df_reduced = df.drop(columns=cols_to_drop)

In [48]:
df_reduced.shape

(178817, 108)

In [50]:
# complete this notebook and exploration by writing reduced dataframe to csv
df_reduced.to_csv("../data/accepted_2017_reduced.csv", index=False)